<!DOCTYPE html>
<head>
  <title>Pusher Chat</title>
  <script src="http://js.pusherapp.com/1.9/pusher.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
  <style type="text/css">
  .user {
      background: cyan;
  }
  </style>
  <body>
    <form id="chat" action='/chat/create_chat/' method="POST">
        {% csrf_token %}
         titulo<input type="text" name="title_chat">
        mensaje <input type="text" name="message">
        <input type="submit">
    </form>
    <div id="messages"></div>
  </body>
</head>