<!DOCTYPE html>
<head>
  <title>Mensajes</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  
  <!-- Font Family -->
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:bolditalic,300italic,400,300,bold'>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/basic.css" />
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />

  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="{{STATIC_URL}}realtime-notifications/src/lib/gritter/js/jquery.gritter.min.js"></script>
  <link href="{{STATIC_URL}}realtime-notifications/src/lib/gritter/css/jquery.gritter.css"rel="stylesheet" type="text/css" />
  <script src="http://js.pusher.com/2.1/pusher.min.js"></script>
  <script src="{{STATIC_URL}}realtime-notifications/src/PusherNotifier.js"></script>

  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.js?v=2.1.5"></script>

  <script src="{{STATIC_URL}}activity-streams/src/PusherActivityStreamer.js"></script>
  <link href="{{STATIC_URL}}activity-streams/src/activity-streams.css"rel="stylesheet" type="text/css" /> 
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.js?v=2.1.5"></script>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.fancybox.css?v=2.1.5" media="screen" />
  <script src="{{STATIC_URL}}js/script.js"></script>
  <style type="text/css">
    .user {
        background: cyan;
    }
  </style>
  <script type="text/javascript">

      $(function(){
        var pusher = new Pusher('{{ PUSHER_KEY }}');
        var channel = pusher.subscribe('{{ request.user.id }}');
        var notifier = new PusherNotifier(channel);
        var streamer = new PusherActivityStreamer(channel,'#chat-comments-list',"", '{{ request.user.id }}');

        $(document).on("click","#delete",function(e){
          delChat($(this).attr("data"));
        });


          $('#chat-page').submit(function(){
            var $this = $(this);
            var message = $('.mensaje-input').val();
            $.ajax({
                url: $this.attr('action'),
                type: $this.attr('method'),
                data: $this.serialize(),
            }).done(function(data) {
              $('#chat-comments-list').append(justSendMessage(message, '{{ request.user.picture }}','{{ request.user.username }}'));
              $('#chat-comments-list').animate({scrollBottom: ($('.comments-product ul li').length * 50)}, 800);
              $('#chat-comments-list').slideDown(500);
              
            });
            this.reset();
            return false;
          });
      });

      function delChat(id){
        $.ajax({
                url: "del_chat/",
                type: "POST",
                data:{chat_id:id}
        }).done(function(data){
          if(data=="True")location.reload();
        });
      }

      getChats('{{ request.user.id }}');
  </script>
  <body class="bg-gray">
    {% include 'header_menu.html' %}

    <!-- Content -->
    <div id="content" class="bg-gray left" ng-controller="RegisterCtrl">
      <!-- End Menu -->
      <!-- Template content -->
      <div class="template-content left container">
        <div id="messages-container">
          <div class="container-50 group-info-content bg-white center">
            <!-- <div class="search-articulos top-title-content bg-gray white">
              <div class="left">
                <input type="text" id="search-value" placeholder="Buscar conversaciones" class="left">
                <input type="submit" id="search-product" class="bg-blue white left" value="buscar">
              </div>
            </div> -->
            <div id="buzon-messages" class="buzon-messages bg-white">

              <div class="text-center">No hay mensajes</div>

            </div>
          </div>


      </div>
    </div>
    <div class="clear"></div>
  </body>
</head>