<!DOCTYPE html>
<html ng-app="kamviaApp">
	<head >
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>{% block title%}{% endblock %}</title>
		<meta name="description" content="" />
		<meta name="author" content="Joselo" />
        <!--
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
        -->
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

		<!-- Font Family -->
    	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:bolditalic,300italic,400,300,bold'>

		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/basic.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.fancybox.css?v=2.1.5" media="screen" />
		<!-- script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script -->
		<script src="{{STATIC_URL}}js/jquery-1.9.0.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.js?v=2.1.5"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script> 
		<script src="{{STATIC_URL}}js/register.js"></script>
		<script src="{{STATIC_URL}}js/module.js"></script>
		<script src="{{STATIC_URL}}js/script.js"></script>
	</head>

	<body class="bg-gray">
<div id="header" class="bg-blue header-regiter-content">
      <div class="step-bar-regiter step-bar bg-blue">
        <ul>
          {% block steps %}{% endblock %}
        </ul>
      </div>
    </div>

		<div id="content" class="bg-gray left">
			<div class="template-content">
			<!-- Template content -->
				<div class="register-container">
        <!--  Register-container  -->
					{% block sub_title %}{% endblock %}

					<div class="content-external-form">
						{% block image_upload %}{% endblock %}
						{% block invite %}{% endblock %}
						<form id="register-form" action="/account/change_pass/" method="post" enctype="multipart/form-data">
							{% block container %}{% endblock %}
							{% csrf_token %}
							{% block ctrls_content %}{% endblock %}
						</form>

						<div class="clear"></div>
					</div>
				<!-- End Register-container  -->
				</div>
			<!-- End Template content -->
			</div>
		</div>
		<script>
      $(function(){
      	$('#id_key_salt').val('{{ salt }}')
      	{% if request.method == 'POST' %}
			$.fancybox.open('{{form.non_field_errors}}{{form.password.errors}}');
		{% endif %}
      });
    </script>
	</body>
</html>