<html>
  <head>
    <title>Kamvia::Inicio</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <!-- Font Family -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:bolditalic,300italic,400,300,bold'>
    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/basic.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="{{STATIC_URL}}realtime-notifications/src/lib/gritter/js/jquery.gritter.min.js"></script>
    <link href="{{STATIC_URL}}realtime-notifications/src/lib/gritter/css/jquery.gritter.css"rel="stylesheet" type="text/css" />
    <script src="http://js.pusher.com/2.1/pusher.min.js"></script>
    <script src="{{STATIC_URL}}realtime-notifications/src/PusherNotifier.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.fancybox.css?v=2.1.5" media="screen" />
    <script src="{{STATIC_URL}}js/handlebars.js"></script>
    <script src="{{STATIC_URL}}js/handlebars.helpers.js"></script>
    <script src="{{STATIC_URL}}js/script.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript">
      $(function() {
        var pusher = new Pusher('{{ PUSHER_KEY }}');
        var channel = pusher.subscribe('{{ request.user.id }}');
        var notifier = new PusherNotifier(channel);
        
        var item = '{{ item }}';
        var tab = '';
        var categories = ['Artículos de Colección y Antigüedades','Artículos para mascotas','Bicis, Motos y Transporte','Computación, Celulares, Gadgets y Electrónica','Deportes y Actividades al aire libre','Fotografía, Arte y Diseño','Herramientas, Muebles, Electrodomésticos y Hogar','Juguetes y Artículos para Niños y Bebes','Libros, Revistas y Comics','Música e Instrumentos musicales','Otros','Ropa, Zapatos y Accesorios','Salud y Belleza','Servicios','Videojuegos y Películas'];

        if(location.hash.length > 1){
          tab = location.hash.split('#');
        }

        //VALIDAMOS POPUP
        {%if popup%}
          $.ajax({
              url:'/account/popup/',
              type:'POST',
              data:{criteria: 'complete_data'}
            }).done(function(data){
              if(data!='1')
                showFancyBoxMessage('Recuerda completar tus datos',true);
            });
        {%endif%}

        //MANJEJO PAGINAS DE RESULTADOS O PAGINA DE HOME
        if(item!=''){
          $('#home-tabs .tab').removeClass('active-tab');
          $('.search').addClass('active-tab');
          $('#home-tabs').removeClass('hide');
          $('#home-tabs').addClass('show');

          categories.in_array(item) ? getProductsByCat(item) : searchResults(item);
        }else if(tab==',news') {
            reloadNews();
            hideNotifications();
          }else{
          loadLatest();
        }

        var data_request = JSON.stringify({ id: '{{request.user.id}}', username: '{{request.user.username}}' });
        localStorage.request = data_request;

        $(document).delegate('#follow','click',function(){
          follow($(this).data('id'));
        });

        $(document).delegate('#search-product','click',function(){
          var item = $(this).val();
          var crtra = $('#search-value').val();
          if(item=='ofreces'){
            $.ajax({
              url:'/account/search_whises/',
              type:'POST',
              data:{criteria: crtra}
            }).done(function(data){
              if(data!="{}"){
                $('#home-tabs .tab').removeClass('active-tab');
                printFriends('.profile-products', data,true)
              }else{
                showFancyBoxMessage('Busqueda','No se encontraron resultados.',true);
              }
            });
          }else if(item=='buscar'){
            $.ajax({
              url:'/product/search_mini/',
              type:'POST',
              data:{criteria: crtra}
            }).done(function(data){
              if(data!="{}"){
                $('#home-tabs .tab').removeClass('active-tab');
                getItems('.profile-products', data, 0);
              }else{
                showFancyBoxMessage('Busqueda','No se encontraron resultados.',true);
              }
            });
          }

          return false;
        });


        $("#offer-product").click(function() {
          offer($(this).data('name'), $(this).data('id'), $(this).data('user-id'), $(this).data('user-name'), $(this).data('img'));
        });

        //MANEJO DE TABS
        $('#home-tabs .tab').click(function() {
          var action = $(this).data('action');
          $('#home-tabs .tab').removeClass('active-tab');
          $(this).addClass('active-tab');

          switch (action) {
            case ('home-search'):
              searchResults(item);
            break;

            case ('home-products-friends'):
              friendsProducts('{{ request.user.id }}', 0);
            break;

            case ('home-users'):
              searchUsers(item);
            break;
            
            default:
              $('.home-products').html('<div class="text-center bold">No se encontraron resultados.</div>');
          }
          
          return false;
        });

      });
      function loadLatest(){
        var homeNews = $('div[data-action="home-products"]');
        getProducts('{{ request.user.id }}');
      }

      function loadLatestByCat(dropdown){

        var myindex  = dropdown.selectedIndex
        var category = dropdown.options[myindex].value

        var homeNews = $('div[data-action="home-products"]');
        $('#home-tabs .tab').removeClass('active-tab');
        homeNews.addClass('active-tab');
        getProductsByCat(category);
      }

      function follow(productid){
        $.ajax({
          url:'/product/follow/',
          type:'POST',
          data:{product_id:productid,
            user_id:'{{ request.user.id }}',
            }
          }).done(function(data){
          if(data=='True'){
            $("#follow").addClass("inactive-icon");
            showFancyBoxMessage('Producto','Ahora estás siguiendo este producto.',true);
          }
        });
      }
    </script>
  </head>
  <body class="bg-gray">
    {% include 'header_menu.html' %}
    <br/>
    <div class="clear"></div><div class="bg-white">
    <!-- Content -->
    <div id="content" class="bg-gray left" ng-controller="RegisterCtrl">
      <!-- Template content -->
      <div class="template-content left container" style="margin-bottom:15px;">

        <!-- <div id="home-container"> -->

            <div id="home-tabs" class="bg-white header pestanas hide">
              <div data-action="home-search" class="bg-white text-12 left text-center tab search"><span>Artículos</span></div>
              <div data-action="home-products-friends" class="bg-white text-12 left text-center tab active-tab"><span>Artículos de tus Amigos</span></div>
              <div data-action="home-users" class="bg-white text-12 left text-center tab"><span>Usuarios</span></div>
              <div class="clear"></div>
            </div>
          </div> 

          <!-- <div class="clear"></div>
        </div> -->

        <div class="profile-products content-total" style="margin: 0; align:center;">
            <strong></strong>
        </div>
        <div class="clear"></div>
        {% include 'templates.html' %}
      </div>
    </div>
  </body>
</html>