{% extends 'base_registration.html' %}

{% block steps %}
    <li class="gray text-center">1</li>
    <li class="gray text-center">2</li>
    <li class="gray text-center active">3</li>
{% endblock%}

{% block sub_title %}
    <h1 class="text-center">Crece tu comunidad</h1>
    <p class="text-center">
      ¡Conéctate con quienes ya usan Kamvia e invita a tus contactos que aun no hacen trueques!
    </p>
{% endblock %}

{% block invite %}
	<div class="regiter-info-content regiter-info-4-content">
		<ul>
			<li class="fb left">
				<div>
					<img src="{{STATIC_URL}}img/fb.png" class="images"/>
				</div>
        <div>
        	<p>Agrega a tus amigos de Facebook</p>
        </div>
        <a href='#' onclick="inviteFriends();">
        	<span id="submit" class="white text-center right bold">
        		Agregar amigos
        	</span>
        </a>
			</li>
			<li class="mail left">
				<div class="bg-green">
					<img src="{{STATIC_URL}}img/mail.png" class="images"/>
				</div>
				<div>
					<p>Invita a tus amigos a través de un correo</p>
				</div>
				<form method="post" action="/account/register_comun/" >
					{{ form.friend_email }}
					{{ form.message }}
					{{ form.stp1_id }}
					{{ form.nxt_stp_id }}

					<input id="submit" class="white text-center right bold bg-green" type="submit" value="Enviar correo" />
				</form>
			</li>
		</ul>					
		<div class="clear"></div>
	</div>
{% endblock %}
		

{% block invite_2 %}
	<form method="post" action="/account/register_comun/" >
			{{ form.friend_email }}
			{{ form.message }}
			{{ form.stp1_id }}
			{{ form.nxt_stp_id }}

			<input type="submit" value="enviar correo"/>
	</form>
{% endblock %}

{% block ctrls_content %}
	<!-- Submit ctrls -->
  <div id="user-register-ctrl" class="register-ctrols">
    <div class="register-ctrols-content">
      <input type="submit" class="left active" value="Comenzar ya" ng-mouseover="startKamvia()" onclick="window.location.href='/account/profile/';
"/>
      <input type="submit" class="left" value="Paso siguiente" ng-mouseover="nextKamvia()"/>
    </div>
  </div>
{% endblock %}
      


