{% extends 'base_new_password.html' %}

{% block steps %}
	<li class="gray text-center active">1</li>
{% endblock%}
	
{% block sub_title %}
	<h1 class="text-center">Cambiar contraseña</h1>
	<p class="text-center">
		Introduce tu nueva contraseña
	</p>
{% endblock%}

{% block container %}
	<div class="regiter-info-content regiter-info-2-content">
		
		<ul>
			<li class="left">
				{% for field in form %}
					{{ field }}
				{% endfor %}
				 
			<li class="left">
				<p class="register-description">{{ form.password1.label_tag }}</p>
				<p class="register-description">{{ form.password2.label_tag }}</p>
			</li>

		</ul>
			</li>				
		<div class="clear"></div>
	</div>

	<!-- Submit ctrls -->
    <div id="user-register-ctrl" class="register-ctrols">
      <div class="register-ctrols-content">
        <input type="submit" class="left active" value="Enviar"  id="start"/>
      </div>
    </div>
{% endblock %}