<div class="perfilamigo-container "> 

  <!-- Info user -->
  <div class="profile-amigo center">
    <div class="mini-profile-user bg-white text-center"> 
      <div class="mini-profile-user-content">
        <div class="mini-profile-data right"> 
          <span class="nombre">{{ username }}</span><br />
          <span class="ubicacion">{% if address.deleg_mun %}{{ address.deleg_mun }}{% else %}{{ address }}{% endif %} </span><br />
          {% if rating == 0 %}
            <span class="blue text-20">&#9734;&#160;&#9734;&#160;&#9734;&#160;&#9734;&#160;&#9734; </span>
          {% else %}
            {% if rating == 1 %}
              <span class="blue text-20">&#9733;&#160;&#9734;&#160;&#9734;&#160;&#9734;&#160;&#9734; </span>
            {% else %}
              {% if rating == 2 %}
                <span class="blue text-20">&#9733;&#160;&#9733;&#160;&#9734;&#160;&#9734;&#160;&#9734; </span>
              {% else %}
                {% if rating == 3 %}
                  <span class="blue text-20">&#9733;&#160;&#9733;&#160;&#9733;&#160;&#9734;&#160;&#9734; </span>
                {% else %}
                  {% if rating == 4 %}
                    <span class="blue text-20">&#9733;&#160;&#9733;&#160;&#9733;&#160;&#9733;&#160;&#9734; </span>
                  {% else %}
                    {% if rating == 5 %}
                      <span class="blue text-20">&#9733;&#160;&#9733;&#160;&#9733;&#160;&#9733;&#160;&#9733; </span>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
          <span class="cambios">{{ swaps }} cambios </span><br/>
        </div>
        <div class="mini-profile-picture right" style="background-image: url({{ image }})"></div>
      </div>
    </div>
    <div class="top-info-profile bg-white text-center">
      <div class="left content-3 text-center">
        <span class="text-12 black"><a id="get-friends" data-action="profile-friends" style="color:black; cursor:pointer;">{{ tot_user_friend }} amigos</a></span>
      </div>
      <div class="top-border-separate left content-3 text-center">
        <span class="text-12 black"><a id="wishlists" href="/account/wishlist/" style="color:black;">{{ tot_wishes }} deseos</a></span>
      </div>
      <div id="offers" class="left content-3 text-center">
        <span class="text-12 black"><a style="color:black; cursor:pointer;">{{total_offers}} ofertas</a></span>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="clear"></div>
  <!-- Articicules content -->
  <div class="profile-pestanas bg-white">
    <!-- tabs -->
    <div id="profile-owner-tabs" class="pestanas bg-white">
      <span class="text-12 tab-info-content active-tab tab" data-action="profile-products">Atículos</span>
      <span id="profile-friends" class="text-12 tab-info-content  tab" data-action="profile-friends" > Amigos</span>
      <span id="profile-offers" class="text-12 tab-info-content  tab" data-action="profile-offers" > Ofertas</span>
    </div>
    <!-- Search -->
    <!-- <div class="search-articulos bg-green">
      <div class="left">
        <input type="text" id="search-value" placeholder="Search" class="left">
        <input type="submit" id="search-product" class="bg-blue white left" value="buscar">
      </div>
    </div> -->
    <!-- <div class="search-articulos bg-white">
      <div class="left">
        <select id="#filter-categories" class="bg-gray black">
          {% for c in categories %}
            <option value="{{ c }}">{{ c }}</option>
          {% endfor %}
        </select>
      </div>
    </div> -->
  </div>
</div>
<div class="profile-products"></div>