<!DOCTYPE html>
<html>
  <head>
    <title>Kamvia::Perfil</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <!-- Font Family -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:bolditalic,300italic,400,300,bold'>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.fancybox.css?v=2.1.5" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/basic.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />
   
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  	<script src="{{STATIC_URL}}realtime-notifications/src/lib/gritter/js/jquery.gritter.min.js"></script>
  	<link href="{{STATIC_URL}}realtime-notifications/src/lib/gritter/css/jquery.gritter.css"rel="stylesheet" type="text/css" />
  	<script src="http://js.pusher.com/2.1/pusher.min.js"></script>
  	<script src="{{STATIC_URL}}realtime-notifications/src/PusherNotifier.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.js?v=2.1.5"></script>
    <script src="{{STATIC_URL}}js/script.js"></script>
    
    <script src="{{STATIC_URL}}activity-streams/src/PusherActivityStreamer.js"></script>
    <link href="{{STATIC_URL}}activity-streams/src/activity-streams.css"rel="stylesheet" type="text/css" />

    <script>
      $(function() {
        {% if owner_profile %}
          allProducts('{{ request.user.id }}', 1, 1);
        {% else %}
          allProducts('{{ user_id }}', 0);
        {% endif %}

        var pusher = new Pusher('{{ PUSHER_KEY }}');
        var channel = pusher.subscribe('{{ request.user.id }}');
        var notifier = new PusherNotifier(channel);

        //Checing action to hash param

        if(location.hash.length > 1){
          tab = location.hash.split('#')
          changeTab(tab[1]);
        }

        //Acciones para la barra del perfil del usuario
      $('.tab-info-content').click(function() {
          var action = $(this).data('action');

          $('.tab-info-content  .tab').removeClass('active-tab');
          changeTab(action);
          $(this).addClass('active-tab');
          return false;
        });
      	
        $('#profile-tabs .tab').click(function() {
          var action = $(this).data('action');
          $('#profile-tabs .tab').removeClass('active-tab');
          $(this).addClass('active-tab');
          switch (action) {
            case ('profile-products'):
              {% if owner_profile %}
                allProducts('{{ request.user.id }}', 1);
              {% else %}
                allProducts('{{ user_id }}', 0);
              {% endif %}
            break;
            case ('profile-products-friends'):
              friendsProducts('{{ user_id }}', 0);
            break;
            default:
              $('.profile-products').html('<div class="text-center bold">No se encontraron resultados.</div>');
          }
          
          return false;
        });

        var owner = 0;
        {% if owner_profile %}
          owner = 1;
        {% endif %}

        $('#search-product').click(function() {
          findItem('{{ user_id }}', owner);

          return false;
        });

        $('.search-articulos select').on('change', function() {
          var category = $(this).val();
          
          filterCategories('one', '{{ user_id }}', category, owner);

          return false;
        });

        $( "body" ).delegate( ".delete-product", "click", function() {
          var id_product = $(this).data('id');
          var id_user = '{{ request.user.id }}';
          var resp = deleteProduct(id_product, id_user);

          if (resp) {
            $(this).parent().parent().remove();
          }

          return false;
        });

        $("#get-friends").click(function(){
          tab = $(this).data("action");
          $('.profile-pestanas .pestanas .tab').removeClass('active-tab');
          $('#'+tab).addClass('active-tab');
          getFriends('{{ user_id }}');

          return false;
        });
      
        $("#addfriend").click(function() {
          $('#addfriend').attr('id', '').addClass('inactive-icon');
          addFriend('{{ user_id }}');
          return false;
        });

        $("body").delegate( ".delete-product", "click", function() {
            var id_product = $(this).data('id');
            var id_user = '{{ user_id }}';
        deleteProduct(id_product, id_user);
        });

        $("#seeWishes").click(function(){
          $.ajax({
            url: '/account/get_wishlist/',
            type: 'POST',
            data: {user_id:'{{profile_id}}'}
            }).done(function(data) {
              if(data!="False")
                showFancyBoxMessage('Deseos',data,true);
              if(data=="False")
                showFancyBoxMessage('Deseos','{{username}} aún no tiene deseos',true);

          });
        });

      });

      function changeTab(action){
        $('.profile-pestanas .pestanas .tab').removeClass('active-tab');          
        switch (action) {
            case ('profile-products'):
              $('#profile-products').addClass('active-tab');
              allProducts('{{ user_id }}');
            break;
            case ('profile-friends'):
              $('#profile-friends').addClass('active-tab');
              getFriends('{{ user_id }}');
            break;
            case ('profile-offers'):
              $('#profile-offers').addClass('active-tab');
              allOffers();
            break;
            default:
              $('.profile-products').html('<div class="text-center bold">No se encontraron resultados.</div>');
          }
      }
    </script>
  </head>
  <body class="bg-gray">
    {% include 'header_menu.html' %}

    <!-- Content -->
    <div id="content" class="bg-gray left" ng-controller="RegisterCtrl">
      <!-- Template content -->
      <div class="template-content left container">
        {% if owner_profile %}
          {% include 'profile_owner.html' %}
        {% else %}
          {% if mutual_friends %}
            {% include 'profile_guest.html' %}
          {% else %}  
            {% include 'profile_outer.html' %}
          {% endif %}
        {% endif %}
      </div>
      <div class="clear"></div>
    </div>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44188722-1', 'kamvia.mx');
  ga('send', 'pageview');

</script>
    <!-- End template content -->
  </body>
</html>
