{% extends 'base_registration.html' %}

{% block steps %}
	<li class="gray text-center active">1</li>
	{%if edit%}
		<li class="gray text-center">2</li>
		<li class="gray text-center">3</li>
	{%endif%}
{% endblock%}
	
{% block sub_title %}
	<h1 class="text-center">{%if user_id%}Editar{%endif%} Información Básica</h1>
	<p class="text-center">
		Éste es el primer paso de tres y el único obligatorio, puedes empezar<br/>
		a intercambiar al instante, pero te recomendamos completar los demás para tener una mejor experiencia.
	</p>
{% endblock%}

{% block container %}
	<div class="regiter-info-content regiter-info-2-content">
		
		<ul>
			<li class="left">
				{% for field in form %}
					{% if field.name != 'tos'%}
						{{ field }}
					{% endif%}
				{% endfor %}
				 
			<li class="left">
				<p class="register-description">{{ form.name.label_tag }}</p>
				<p class="register-description">{{ form.username.label_tag }}</p>
				<p class="register-description">{{ form.email.label_tag }}</p>
				<p class="register-description">{{ form.password1.label_tag }}</p>
				<p class="register-description">{{ form.password2.label_tag }}</p>
			</li>

		</ul>
		{% if user_id %}
			<input id="id_tos" type="checkbox" style="display:none;" name="tos" checked>

		{% else %}
			{{form.tos}}
		<p style="float:left;!important font-size: 13px !important;font-style: italic !important;font-weight: lighter !important; padding: 5px 0 14px; margin-left:10px;">
			He leído y estoy de acuerdo con los <a href="/tos/" target="_blank" style="color:#666666; font-size:bold;">TÉRMINOS Y CONDICIONES</a><br>
		</p>
		{% endif %}
			</li>				
		<div class="clear"></div>
	</div>

	<!-- Submit ctrls -->
    
        {%if edit %}
	        <div id="user-register-ctrl" class="register-ctrols">
	      		<div class="register-ctrols-content">
	      			<input type="submit" class="left active" value="{%if user_id%}Editar{%else%}Comenzar ya{%endif%}" ng-mouseover="startKamvia()" id="start"/>
	        		<input id="register-next-step" type="submit" class="left active" value="{%if user_id%}Siguiente{%else%}Paso siguiente{%endif%}" ng-mouseover="nextKamvia()"/>
	        	</div>
    		</div>
        {%else%}
        	<div id="user-register-ctrl" class="register-ctrols">

		        <input type="submit" class="left active" value="{%if user_id%}Editar{%else%}Comenzar ya{%endif%}" ng-mouseover="startKamvia()" id="start"/>
		      
    		</div>
        {%endif%}
      
    	{% if user_id %}
		<script type="text/javascript">
		$(document).ready(function() {
					$("input[name='name']").val('{{ user_name }}');
					$("input[name='username']").val('{{ user_username }}');
					$("input[name='email']").val('{{ user_mail }}');
					$("input[name='user']").val('{{ user_id }}');
				});
		</script>
		{% endif %}
{% endblock %}