{% extends 'base_registration.html' %}

{% block steps %}
  <li class="gray text-center">1</li>
  <li class="gray text-center active">2</li>
  <li class="gray text-center">3</li>
{% endblock%}

{% block sub_title %}
{% if user_id %}
  <h1 class="text-center">Editar Información de confianza y afinidad</h1>
{% else %}
  <h1 class="text-center">Informacíon de confianza y afinidad</h1>
{% endif %}
  
  <p class="text-center">
      Te recomendamos tener esta información para que sea más fácil<br/>
      que la gente intercambie algo contigo.
  </p>
{% endblock %}

{% block image_upload %}
  <div id="regiter-upload-image" class="left">
    <form id="upload" action="/account/picture/" method="POST" enctype="multipart/form-data">
      <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
      <div class="image-preview">
          <p class="text-left">Haz click y sube una foto</p>
          <div id="filedrag">or drop files here</div>
          <input type="file" id="fileselect" name="files" multiple="multiple" class="transparent" />
      </div>

      <div id="submitbutton">
        <button type="submit">Upload Files</button>
      </div>
    </form>

    <div id="progress"></div>

    <div id="messages"></div>
  </div>

  <script src="{{STATIC_URL}}js/file-upload.js"></script>
{% endblock %}

{% block container %}
  <div class="regiter-info-content regiter-info-3-content left" style="width: 430px;">
    <ul>
      <li class="left">
        {{ form.street_num }}
        {{ form.colony }}
        {{ form.deleg_mun }}
        {{ form.zc }}
        {{ form.city }}
        {{ form.state }}
        {{ form.country }}
      </li>
      <li>
        {{ form.about_me }}
        {{ form.stp1_id }}
        {{ form.nxt_stp_id }}
      </li>
    </ul>
        
    <div class="clear"></div>
  </div>

  <div class="clear"></div>
  <!-- Submit ctrls -->
  <div id="user-register-ctrl" class="register-ctrols">
    <div class="register-ctrols-content">
      <input type="submit" class="left active inactive" value="Comenzar ya" ng-mouseover="startKamvia()"/>
      <input type="submit" class="left active inactive" value="Paso siguiente" ng-mouseover="nextKamvia()"/>
    </div>
  </div>
    {% if user_id %}
    <script type="text/javascript">
    $(document).ready(function() {
          $('#id_street_num').val('{{ street_num }}');
          $('#id_colony').val('{{ colony }}');
          $('#id_deleg_mun').val('{{ deleg_mun }}');
          $('#id_zc').val('{{ zc }}');
          $('#id_city').val('{{ city }}');
          $('#id_state').val('{{ state }}');
          $('#id_country').val('{{ country }}')
          $('#id_about_me').val('{{ about_me }}')
        });
    </script>
    {% endif %}
{% endblock %}