<!DOCTYPE html>
<html ng-app="kamviaApp">
        <head >
                <meta charset="utf-8" />

                <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
                Remove this if you use the .htaccess -->
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

                <title>Actualizar Perfeil</title>
                <meta name="description" content="" />
                <meta name="author" content="Rodrigo" />
                <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
                <link rel="shortcut icon" href="/favicon.ico" />
                <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

                <!-- Font Family -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:bolditalic,300italic,400,300,bold'>

                <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/basic.css" />
                <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />
                
                <script src="{{STATIC_URL}}js/jquery-1.9.0.js"></script>
                <script src="{{STATIC_URL}}js/droparea.js"></script>
                <script src="{{STATIC_URL}}js/script.js"></script>
        </head>
        <body>
                {% include 'header_menu.html' %}
                <!-- Content -->
    <div id="content" class="bg-gray left" ng-controller="RegisterCtrl">
      <!-- Template content -->
      <div class="template-content left container">

        <div id="update-profile-container">

          <h2 class="bold text-14"><span class="disc green left"></span> Datos</h2>

          <div class="update-profile-container bg-white text-12">
                <div class="img-profile-container left" style="background-image: URL({{ request.user.picture }});">
                        <div class="clear"></div>
                </div>
                <table class="left">
                        <tr>
                                <td class="text-right label-description">Nombre:</td>
                                <td><input type="text" class="bg-gray" value="{{ request.user.first_name }}"></td>
                        </tr>
                        <tr>
                                <td class="text-right label-description">Usuario:</td>
                                <td><input type="text" class="bg-gray" value="{{ request.user.username }}"></td>
                        </tr>
                        <tr>
                                <td class="text-right label-description">E-mail:</td>
                                <td><input type="email" class="bg-gray" value="{{ request.user.email }}"></td>
                                </tr>
                        <tr>
                                <td class="text-right label-description">Contraseña:</td>
                                <td><input type="password" class="bg-gray" maxlength="8"></td>
                                </tr>
                        <tr>
                                <td class="text-right label-description">Confirmar contraseña:</td>
                                <td><input type="password" class="bg-gray" maxlength="8"></td>
                        </tr>
                </table>

                <div class="left about-me-profile">
                        Aserca de mi:<br />
                        <textarea></textarea>
                </div>

                <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
        </body>
</html>