<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>Kamvia::Mis deseos</title>
		<meta name="description" content="" />
		<meta name="author" content="Joselo" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Font Family -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:bolditalic,300italic,400,300,bold'>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/basic.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />
		
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="{{STATIC_URL}}realtime-notifications/src/lib/gritter/js/jquery.gritter.min.js"></script>
    <link href="{{STATIC_URL}}realtime-notifications/src/lib/gritter/css/jquery.gritter.css"rel="stylesheet" type="text/css" />
    <script src="http://js.pusher.com/2.1/pusher.min.js"></script>
    <script src="{{STATIC_URL}}realtime-notifications/src/PusherNotifier.js"></script>
		<script src="{{STATIC_URL}}js/script.js"></script>
		<script >
			$(function(){
				
				var pusher = new Pusher('{{ PUSHER_KEY }}');
  				var channel = pusher.subscribe('{{request.user.id}}');
  				var notifier = new PusherNotifier(channel);
			});

		</script>
	</head>
	<body>
  	{% include 'header_menu.html' %}
    <!-- Content -->
    <div id="content" class="bg-gray left" ng-controller="RegisterCtrl">
      <!-- Template content -->
      <div class="template-content left container">
				<div id="all-ofers-container">

					<div class="container-50 left bg-white">
        		<div class="bg-green top-title-content white">Articulos que quieres</div>
        		<div class="bg-white">
        			<div class="buzon-messages bg-white">
        				{% for wishes in chunk %}
        					{% for wish in wishes %}
	        					<div class="left text-12"><i>{{ wish.date|truncatechars:13 }}</i></div>
		                <hr>
		                <div class="clear"></div>
		                <div class="buzon-message-content">
		                	<div class="left">
		                    	<img src="{{ request.user.picture }}" width="50px" />
		                  	</div>
		                  <div class="buzon-message left">
		                    <div class="left text-12">Buscas un <i class="bold">{{ wish.wish_name }}</i></div>
		                    <div class="right">
		                    	{% if wish.prod_link %}	
		                      		<a href="{{ wish.prod_link }}" class="text-12 black"><i>ir a producto</i></a>
		                        {% endif %}
		                    </div>
		                    <div class="clear"></div>
		                  </div>
		                  <div class="clear"></div>
		                </div>
	                {% endfor %}
        				{% endfor %}
              </div>
            </div>
          </div>
        	
        	<div class="container-50 left bg-white">
						<div class="bg-green top-title-content white">Articulos que sigues</div>
						<div class="bg-white">
							<div class="buzon-messages bg-white">
								{% for prods in chunk_prod %}
        					{% for prod in prods %}
										<div class="left text-12"><i>{{ prod.date|truncatechars:13 }}</i></div><hr>
										<div class="clear"></div>
										<div class="buzon-message-content">
											<div class="left">
												<img src="{{ prod.user_pic }}" width="50px" />
											</div>
											<a href="{{ prod.prod_link }}">
												<div class="buzon-message left">
													<div class="left text-12">
														<i class="bold black">
															{{ prod.product_name }}
														</i> de <i class="bold">{{ prod.username }}</i>
													</div>
													<div class="right text-12 black">
														<i>ir al producto</i>
													</div>
													<div class="clear"></div>
												</div>
											</a>
											<div class="clear"></div>
											<a href="{{ prod.prod_link }}">
												<div class="product-preview bg-white" style="background-image: url({{ prod.product_pic.url }});">
													<div class="clear"></div>
												</div>
											</a>
											<div class="clear"></div>
										</div>
									{% endfor %}
								{% endfor %}
							</div>
						</div>
					</div>
					
        	
					<div class="clear"></div>
        	
        </div>
      </div>
    </div>

  </body>
</html>
