<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>test_stream</title>
		<meta name="description" content="" />
		<meta name="author" content="Joselo" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="http://js.pusher.com/2.1/pusher.min.js"></script>
		<script src="{{STATIC_URL}}activity-streams/src/PusherActivityStreamer.js"></script>
		<link href="{{STATIC_URL}}activity-streams/src/activity-streams.css"rel="stylesheet" type="text/css" />
		<script>
			$(function(){
				$("#send_activity").click(handleNotifyButtonClick);

				var pusher = new Pusher('{{ PUSHER_KEY }}');
				var channel = pusher.subscribe('feedStream');
				var streamer = new PusherActivityStreamer(channel,'#activity_stream_example');
			});
			function handleNotifyButtonClick() {
          			$.ajax({
          			type: "POST",
            		url: '/stream/send/',
            		data: {"user_id": '{{request.session.user_id}}'}
          			});
      		}
		</script>
	</head>
<!--    url(r'^send/$',
        post_stream,
        name='stream'),              #URL TO SEND NOTIFICATION
    url(r'^auth/$',
        auth_stream,
        name='auth_stream'),          #URL TO AUTHENTICATE A GIVEN USER OVER NOTIFICATION -->
	<body>
		<div>
			<header>
				<h1>test_stream</h1>
			</header>
			<nav>
				<p>
					<a href="/">Home</a>
				</p>
				<p>
					<a href="/contact">Contact</a>
				</p>
			</nav>
			
			<div>
				<button id="send_activity">Send stream</button>
				<ul id="activity_stream_example" class="activity-stream"></ul>
			</div>

			<footer>
				<p>
					&copy; Copyright  by Joselo
				</p>
			</footer>
		</div>
	</body>
</html>
