<html>
  <head>
    <title>Kamvia::Perfil</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <!-- Font Family -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:bolditalic,300italic,400,300,bold'>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.fancybox.css?v=2.1.5" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/basic.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />
   
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  	<script src="{{STATIC_URL}}realtime-notifications/src/lib/gritter/js/jquery.gritter.min.js"></script>
  	<link href="{{STATIC_URL}}realtime-notifications/src/lib/gritter/css/jquery.gritter.css"rel="stylesheet" type="text/css" />
  	<script src="http://js.pusher.com/2.1/pusher.min.js"></script>
  	<script src="{{STATIC_URL}}realtime-notifications/src/PusherNotifier.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.js?v=2.1.5"></script>
    <script src="{{STATIC_URL}}js/script.js"></script>
    
    <script src="{{STATIC_URL}}activity-streams/src/PusherActivityStreamer.js"></script>
    <link href="{{STATIC_URL}}activity-streams/src/activity-streams.css"rel="stylesheet" type="text/css" />

    <script>
      $(function() {
        {% if owner_profile %}
          allProducts('{{ request.user.id }}', 1, 1);
        {% else %}
          allProducts('{{ user_id }}', 0);
        {% endif %}

        var pusher = new Pusher('{{ PUSHER_KEY }}');
        var channel = pusher.subscribe('{{ request.user.id }}');
        var notifier = new PusherNotifier(channel);

        //Acciones para la barra del perfil del usuario
      $('#profile-owner-tabs .tab').click(function() {
          var action = $(this).data('action');

          $('.profile-pestanas .pestanas .tab').removeClass('active-tab');
          $(this).addClass('active-tab');

          switch (action) {
            case ('profile-products'):
              allProducts('{{ user_id }}');
            break;
            case ('profile-friends'):
              getFriends('{{ user_id }}');
            break;
            case ('profile-offers'):
              //getNews('{{ request.user.id }}', '{{ request.user.username }}');
            break;
            default:
              $('.profile-products').html('<div class="text-center bold">No se encontraron resultados.</div>');
          }
          
          return false;
        });
      	
        $('#profile-tabs .tab').click(function() {
          var action = $(this).data('action');
          $('#profile-tabs .tab').removeClass('active-tab');
          $(this).addClass('active-tab');

          switch (action) {
            case ('profile-products'):
              {% if owner_profile %}
                allProducts('{{ request.user.id }}', 1);
              {% else %}
                allProducts('{{ user_id }}', 0);
              {% endif %}
            break;
            case ('profile-products-friends'):
               
              friendsProducts('{{ user_id }}', 0);
            break;
            default:
              $('.profile-products').html('<div class="text-center bold">No se encontraron resultados.</div>');
          }
          
          return false;
        });

        var owner = 0;
        {% if owner_profile %}
          owner = 1;
        {% endif %}

        $('#search-product').click(function() {
          findItem('{{ user_id }}', owner);

          return false;
        });

        $('.search-articulos select').on('change', function() {
          var category = $(this).val();
          
          filterCategories('one', '{{ user_id }}', category, owner);

          return false;
        });      

        $("body").delegate( ".delete-product", "click", function() {
            var id_product = $(this).data('id');
            var id_user = '{{ user_id }}';
        deleteProduct(id_product, id_user);
        });

        $("#seeWishes").click(function(){
          $.ajax({
            url: '/account/get_wishlist/',
            type: 'POST',
            data: {user_id:'{{profile_id}}'}
            }).done(function(data) {
              if(data!="False")
                showFancyBoxMessage('Deseos',data,true);
              if(data=="False")
                showFancyBoxMessage('Deseos','Aún no tienes deseos',true);
          });
        });

      });
    </script>
  </head>
  <body class="bg-gray">
    {% include 'header_menu.html' %}

    <!-- Content -->
    <div id="content" class="bg-gray left" ng-controller="RegisterCtrl">
      <!-- Template content -->
      <div class="template-content left container">
        <br>
        <table border="1">
          <tr>
            <th>module</th>
            <th>method</th>
            <th>error</th>
            <th>user_name</th>
            <th>user_id</th>
            <th>date</th>
          </tr>
           {% for error in errors %}
          <tr>
            <td>{{error.module}}</td>
            <td>{{error.method}}</td>
            <td>{{error.error}}</td>
            <td>{{error.user_name}}</td>
            <td>{{error.user_id}}</td>
            <td>{{error.date}}</td>
          </tr>
           {% endfor %}
        </table> 
      </div>
      <div class="clear"></div>
    </div>
    <!-- End template content -->
  </body>
</html>