{% extends 'base_registration.html' %}
{% block sub_title %}
	<span id="title" class="bold title">Invita a tus amigos</span> <br/>
	
{% endblock%}
{% block container %}
			<table>
				{{ form.as_table }}
			</table>
			<input type="submit" value="Enviar Correo"/>
{% endblock %}


