<!DOCTYPE html>
<html ng-app>
	<head >
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="description" content="" />
		<meta name="author" content="Joselo" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/basic.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.fancybox.css?v=2.1.5" media="screen" />
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script> 
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.js?v=2.1.5"></script>
		<script src="{{STATIC_URL}}js/register.js"></script>
		<script src="{{STATIC_URL}}js/module.js"></script>
		<script src="{{STATIC_URL}}js/script.js"></script>
		<script type="text/javascript">
		
		$(function(){
			{% if request.method == 'POST' %}
				$.fancybox.open('{{form.non_field_errors}}');
			{% endif %}
			{% if img %}
			{% for i in img %}
				$('#progress').append('<p  style="background-position: 0% 0px;" class="success"></p>');
				$('#messages').append('<p class="photo" data-url="{{ i.url }}" style="background-image: url({{ i.url }})"><img id="del" src="https://bitbucket.org/LostAcapulco/share-economy/raw/16b38b8525e766677027d018920608c8feaf2d58/share_economy/static/img/error.png" style="display: none;"></p>');
			{% endfor %}
			$('#send-button').replaceWith('<input type="submit" id="send-button" value="Comenzar ya" class="left active"/>');
			{% endif %}
		});
		
		function check(){
			showFancyBoxMessage('Error','No se han cargado imagenes',true);
			return false;
		}
		</script>
	</head>

	<body>
		{% include 'header_menu.html' %}

		<!-- Content -->
		<div id="content" class="bg-gray left" ng-controller="RegisterCtrl">
      <!-- Template content -->
      <div class="template-content left container">
      	
      	<div class="register-container">
      		<!-- Instructions -->
					{% block sub_title_p %}{% endblock %}

					{% block image_upload_p %}{% endblock %}

					{% if product_id %}
						<form action="/product/edit/{{product_id}}/" method="post">
					{% else %}
						<form action="/product/upload/" method="post">
					{% endif %}
						{% csrf_token %} 
						
						{% block container_p %}{% endblock %}

						{% block container_about_product %}{% endblock %}
						
						<div class="register-ctrols">
							<div class="register-ctrols-content register-ctrols-product">
								{% if product_id %}
								<input id="send-button" class="left active" type="submit" value="Subir producto">
								{%else%}
								<button id="send-button" class="left inActive" onclick="check()" type="button">Subir producto</button>
								{% endif%}
								
							</div>
						</div>
					</form>
				</div>

      </div>
      <!-- End template content --> 

			<footer>
				<p></p>
			</footer>
		</div>
	</body>
</html>

