{% extends 'base_edit_p.html' %}

{% block sub_title_p %}
    <h1 class="text-center">Información Producto</h1>
    <p class="text-center">
      Sigue éstos sencillos pasos para que esa persona que quiere<br />
      tu producto lo encuentre mas fácil y puedas intercambiar
    </p>
{% endblock %}

{% block image_upload_p %}
  <div class="regiter-info-content regiter-info-2-content">
    <ul>
      <li class="left">
        <p>Haz clic y sube tus fotos de producto</p>
        <div class="image-preview">
          <form id="upload" action="/product/picture/" method="POST" enctype="multipart/form-data">
            <div id="error-imge-upload" class="red bold"></div>
            <div id="filedrag">or drop files here</div>
            <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
            <input type="file" id="fileselect" name="files" multiple="multiple" class="transparent" />

            <div id="submitbutton">
              <button type="submit">Upload Files</button>
            </div>
          </form>

          <div id="progress" class="img-product-status"></div>
          <div id="messages" class="img-product-container">
          </div>
        </div>
      </li>
      <li class="left">
        <p><b>El amor entra por los ojos!</b><br />Haz que tu produco se vea irresistible.</p>
        <p><b>A)</b> No uses fondos saturados, mejor un fondo<br />liso para que resalte tu producto.</p>
        <p><b>B)</b> Toma una foto con buena iluminación para que<br />se vea los detalles de tu producto.</p>
        <p><b>C)</b> ¡Puedes subir hasta 5 fotos! Toma diferentes<br />ángulos para que existan mas vistas de tu producto.</p>
      </li>
    </ul>
    <div class="clear"></div>
  </div>

  <script src="{{STATIC_URL}}js/file-upload.js"></script>
{% endblock %}

{% block container_p %}
  <div class="regiter-info-content regiter-info-2-content">
    <ul>
      <li class="left">
        {{ form.cant_produc }}
        {{ form.productname }}
        {{ form.tags }}
        {{ form.category }}
        {{ form.category_2 }}
      </li>
      <li class="left">
        <p>¿Cuantos productos tienes en stock?</p><br />
        <p>Dale el nombre que gustes a tu producto.<br />(ejemplos: ipod clásico, Xbox 360)</p>
        <p>Escoge 3 tags para que la gente encuentre tu<br />producto. (ejemplo: #ipod #apple #tablet)</p>
        <p>¿En cuál de las categorías de Kamvia crees que<br />encaja tu producto? Puedes elegir 2 categorías<br />distintas.</p>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
{% endblock %}

{% block container_about_product %}
  <div class="regiter-info-content">
    <div class="description-product">
      <p>
        Agrega una descripción de tu producto, razones por que lo quieres intercambiar, etc... (max. 200 caracteres)
      </p>
      {{ form.about_product }}
    </div>
  </div>
{% endblock %}