<table>
	<tr>
		<td><b>Nombre</b></td>
		<td><b>Categoria</b></td>
	</tr>
	{% for product in products %}
	<tr>
		<td>{{product.name}}</td>
		<td>{{product.category}}</td>
	</tr>
	{% endfor %}
</table>
