{% extends 'base_registration.html' %}

{% block sub_title_p %}
    <span id="title" class="bold title">Información de Producto</span> <br/>
    <span align="center" id="title_text" class="text">
        Sigue éstos sencillos pasos para subir tu producto
{% endblock %}

{% block image_upload_p %}

<form id="upload" action="/account/picture/" method="POST" enctype="multipart/form-data">

<fieldset>
<legend>HTML File Upload</legend>

<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />

<div>
    <label for="fileselect">Files to upload:</label>
    <input type="file" id="fileselect" name="files" multiple="multiple" />
    <div id="filedrag">or drop files here</div>
</div>

<div id="submitbutton">
    <button id="buttonFileUpload" type="submit">Upload Files</button>
</div>

</fieldset>

</form>

<div id="progress"></div>

<div id="messages">
<p>Status Messages</p>
</div>

<script src="{{STATIC_URL}}js/file-upload.js"></script>

{% endblock %}
