<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Perfil de producto</title>
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

			<!-- Font Family -->
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:bolditalic,300italic,400,300,bold'>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.fancybox.css?v=2.1.5" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/basic.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />
		<link href="{{STATIC_URL}}activity-streams/src/activity-streams.css"rel="stylesheet" type="text/css" />	
		<link href="{{STATIC_URL}}realtime-notifications/src/lib/gritter/css/jquery.gritter.css"rel="stylesheet" type="text/css" />

		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="{{STATIC_URL}}js/handlebars.js"></script>
		<script src="{{STATIC_URL}}js/handlebars.helpers.js"></script>

		<script src="http://js.pusher.com/2.1/pusher.min.js"></script>
		<script src="{{STATIC_URL}}realtime-notifications/src/PusherNotifier.js"></script>
		<script src="{{STATIC_URL}}realtime-notifications/src/lib/gritter/js/jquery.gritter.min.js"></script>
		<script src="{{STATIC_URL}}activity-streams/src/PusherActivityStreamer.js"></script>

		<script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.js?v=2.1.5"></script>
    
    	<script src="{{STATIC_URL}}js/script.js"></script>
		<script >
			$(function() {

				var pusher = new Pusher('{{ info_product.PUSHER_KEY }}');
  		 		var channel = pusher.subscribe('{{ request.user.id }}');
  		 		var notifier = new PusherNotifier(channel);
  		 		//comment
				var channel = pusher.subscribe('{{ info_product.product_id }}');
				var streamer = new PusherActivityStreamer(channel,'#info-comments-product ul');
				//chat
				var channel = pusher.subscribe('{{ request.user.id }}');
				var streamer = new PusherActivityStreamer(channel,'#user-inbox-content ul',"", '{{ request.user.id }}');

			// Get chats to offers
			$.post('/offer/product_offers/', { product_id: '{{ product_id }}' } , function(jsont) {
				var content = '';
				jsont = jsont.offers;

				if (jsont.length > 0) {
					$.each(jsont, function(key, value) {
						value = value[0];
						var rank = '';
						switch(value.rating) {
							case 0:
							  rank = '☆ ☆ ☆ ☆ ☆';
							  break;
							case 1:
							  rank = '★ ☆ ☆ ☆ ☆';
							  break;
							case 2:
							  rank = '★ ★ ☆ ☆ ☆';
							  break;
							case 3:
							  rank = '★ ★ ★ ☆ ☆';
							  break;
							case 4:
							  rank = '★ ★ ★ ★ ☆';
							  break;
							case 5:
							  rank = '★ ★ ★ ★ ★';
							  break;
							default:
						  	rank = '☆ ☆ ☆ ☆ ☆';
						}

						content = content + '<div data-chat="' + value.chat_id + '" data-name="' + value.bidder_name + '" data-rank="' + rank + '" data-id="' + value.bidder_id + '" class="chat-select bg-white">' +
													        '<img src="' + value.bidder_photo + '" width="50px">' +
													        '<span>' + value.bidder_name + '</span>' +
													      '</div>';
					});

					$('#chats-container, #offers-hover-content').html(content);
				} else {
					$('#chat-title-user, #offers-hover-content').remove();
				}
			}, 'json');

			$.post('/product/user_match_wishlist/', { tags: '{{tags}}' }, function(jsont) {
				var content = '';

				if (jsont.length > 0) {
					$.each(jsont, function(key, value) {
						content = content + '<div class="bg-white">' +
																	'<a href="/account/profile/' + value.user_id + '/" class="blue">' +
												            '<img src="' + value.pic_profile + '" width="50px">' +
												            '<span>' + value.nick_name + '</span>' +
												          '</a>' +
											          '</div>';
					});

					$('#wisheslist-hover-content').html(content);
				} else {
					$('#wisheslist-hover-content').remove();
				}
			}, 'json');

  			$("body").delegate( "#offersProd", "click",function(){
  				$.ajax({
					url:'/offer/offers_product/',
					type:'POST',
					data:{product_id:'{{ info_product.product.id }}'}
					}).done(function(data){
						showFancyBoxMessage('Oferta',data,true);
					});

  			});

  			
  			$("body").delegate( "#wishlisted", "click",function(){
  				$.ajax({
					url:'/offer/offers_product/',
					type:'POST',
					data:{product_id:'{{ info_product.product.id }}'}
					}).done(function(data){
						showFancyBoxMessage('Intereses',data,true);
					});

  			});
    		$("body").delegate( ".delete-product", "click", function() {
    			var id_product = $(this).data('id');
    			var id_user = '{{ request.user.id }}';
					
					deleteProduct(id_product, id_user);
    		});

				{% if is_offered == 'N' %}
				  $('#offers').removeClass('green').addClass('white bg-red');
				{% endif %}

        // Send offer
				$('#send-message').live('submit', function() {
				    var url = $(this).attr('action');
				    var message = $('#message-chat').val();
				    var id_user = '{{ info_product.id_user_prod }}';
				    var product_name = '{{ info_product.product.product_name }}';
	          		var product = '{{ info_product.product.id }}';
			        var user_name = '{{ user.first_name }}';
			        var img_url = '{{ info_product.product_img }}';
			        
          		if($('#message-chat').val()!=''){
			    	sendMessage(url, message, user_name, product, id_user, product_name, img_url);

			    	$('#offer').addClass('inactive-icon');
			    }
			    
			    return false;
			  });
				{% if is_follower %}
				{% else %}
					$("#follow").click(follow);
				{% endif %}
				

				$("#addfriend").click(function() {
	          		$('#addfriend').attr('id', '').addClass('selected');
	          		addFriend('{{ user_id }}');
	          		return false;
        		});

			});
			
			function follow(){
				$.ajax({
					url:'/product/follow/',
					type:'POST',
					data:{product_id:'{{ info_product.product.id }}',
						user_id:'{{ request.user.id }}',
						}
					}).done(function(data){
					if(data=='True'){
						$("#follow").addClass("inactive-icon");
						showFancyBoxMessage('Mensaje','Ahora estás siguiendo este producto',true);
						setTimeout(function() { location = location; }, 5000);
					}
				});
			}
		
		</script>
	</head>
	<body class="bg-gray">
		{% include 'header_menu.html' %}

    <!-- Content -->
		<div id="content" class="bg-gray left" ng-controller="RegisterCtrl">
      <!-- Template content -->
      {% if owner_profile %}
        {% include 'product_owner.html' %}
      {% else %}
      	{% if mutual_friends %}
          {% include 'product_guest.html' %}
        {% else %}
          {% include 'product_outer.html' %}
        {% endif %}
      {% endif %}
		</div>
		<!-- End template content -->
		<div class="clear"></div>
		{% include 'templates.html' %}
	</body>
</html>
