  <div class="template-content left container">

  	<div id="product-content">

      <div class="product-content">

        <div class="left">
          {% include 'template-gallery.html' %}
        </div>

        <div class="column-right left">
          <!--
          <div class="tabs-info bg-white">
            <div data-content="#info-inbox" class="tab-info product-more-info left">
              <span id="chat-title-user" class="tab-info-content">
                <b>Selecciona...</b>
                <span class="blue text-18"></span>
              </span>
              <div id="chats-container" class="product-chats-over product-more-info-content hide">
              </div>
            </div>
            <span data-content="#info-comments-product" class="tab-info tab-info-content bg-gray">Comentarios</span>
          </div>-->
          {% include 'template-info.html' %}
        </div>
        <div class="clear"></div>
      </div>
    </div>
	</div>