<div class="template-content left container">

  <div id="product-content">

    <div class="product-content">

      <div class="left">
        {% include 'template-gallery.html' %}
      </div>

      <div class="column-right left">
        {% include 'template-info.html' %}
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>