<script type="text/x-handlebars-template" id="send-message-template">
  <div id="send-message-container" class="bg-white container-400">
		<h2 class="text-12 normal title-box">Quieres <strong id="name-owner-product">{{ info_product.product.product_name }}</strong></h2>
		<div class="send-message-info">
			{% if user_rating == 0 %}
        <span class="send-message-rank blue text-18">☆ ☆ ☆ ☆ ☆ </span>
      {% else %}
        {% if user_rating == 1 %}
          <span class="send-message-rank blue text-18">★ ☆ ☆ ☆ ☆ </span>
        {% else %}
          {% if user_rating == 2 %}
            <span class="send-message-rank blue text-18">★ ★ ☆ ☆ ☆ </span>
          {% else %}
            {% if user_rating == 3 %}
              <span class="send-message-rank blue text-18">★ ★ ★ ☆ ☆ </span>
            {% else %}
              {% if user_rating == 4 %}
                <span class="send-message-rank blue text-18">★ ★ ★ ★ ☆ </span>
              {% else %}
                {% if user_rating == 5 %}
                  <span class="send-message-rank blue text-18">★ ★ ★ ★ ★ </span>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
      <img src="{{ user.picture }}" alt="{{ user.first_name }}">
			<span class="username">{{ user.first_name }}</span>
		</div>
		<div class="send-message-content">
			<form action='/chat/create_chat/' id="send-message" method="POST">
		    {% csrf_token %}
		    <textarea type="text" placeholder="Mensaje" class="bg-gray" name="message" id="message-chat">Hola Quiero tu {{ info_product.product.product_name }}</textarea>
				<br />
				<input id="submit" type="submit" class="btn btn-blue right" value="Enviar">
				<button class="btn btn-red right send-message-container-close">Cancelar</button>
				<div	class="clear"></div>
	  	</form>
		</div>
  </div>
</script>