<!-- Header tabs content -->
<div class="tabs-info bg-white">
  <div data-content="#info-inbox" class="tab-info product-more-info left">

    <span style="" class="tab-info-content" id="chat-title-user"><b>{{bidder_username}}</b>
      {% if bidder_rating == 0 %}
          <span class="blue text-20">&#9734;&#160;&#9734;&#160;&#9734;&#160;&#9734;&#160;&#9734; </span>
        {% else %}
          {% if bidder_rating == 1 %}
            <span class="blue text-20">&#9733;&#160;&#9734;&#160;&#9734;&#160;&#9734;&#160;&#9734; </span>
          {% else %}
            {% if bidder_rating == 2 %}
              <span class="blue text-20">&#9733;&#160;&#9733;&#160;&#9734;&#160;&#9734;&#160;&#9734; </span>
            {% else %}
              {% if bidder_rating == 3 %}
                <span class="blue text-20">&#9733;&#160;&#9733;&#160;&#9733;&#160;&#9734;&#160;&#9734; </span>
              {% else %}
                {% if bidder_rating == 4 %}
                  <span class="blue text-20">&#9733;&#160;&#9733;&#160;&#9733;&#160;&#9733;&#160;&#9734; </span>
                {% else %}
                  {% if bidder_rating == 5 %}
                    <span class="blue text-20">&#9733;&#160;&#9733;&#160;&#9733;&#160;&#9733;&#160;&#9733; </span>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
    </span>
    {%if is_offered == 'N'%}
      <div id="chats-container" class="product-chats-over product-more-info-content hide" style="margin-top:-0.1px;">
      </div>
    {%endif%}
  </div>
  <span data-content="#info-comments-product" class="tab-info tab-info-content active-tab">Comentarios</span>
</div>

<!-- Inbox content -->
<div id="info-inbox" class="tab-info-container hide bg-white text-center">
  <div id="user-inbox-content" class="comments-product">
  </div>
  <div id="send-inbox-content" class="bg-white add-comment">
    <form id="chat" action='{% url message %}' method="POST">
      <div class="images left"><img src="{{ request.user.picture }}" width="50px" height="50px" /></div>
      <input id="comment" name="message" type="text" placeholder="Agrega un nuevo mensaje" class="input-add-comment bg-gray">
      <input type="hidden" id="chat-id" name="chat_id" value="{{ chat_id }}">
      <input type="hidden" id="second_user" name="second_user" value="{{ second_user }}">
      {% csrf_token %}
      <p>Presiona Enter para enviar</p>
    </form>
  </div>
</div>

<!-- Info owner product -->
<div id="info-comments-product" class="tab-info-container">
  <div class="mini-profile-user bg-white text-center"> 
    <div class="mini-profile-user-content">
      <div class="mini-profile-data right"> 
        <span class="nombre"><a href="/account/profile/{{ user.id}}" style="color:black;">
{{ user.first_name }}</a></span><br />
        <span class="ubicacion">{{user_deleg}} </span><br />
        {% if user_rating == 0 %}
          <span class="blue text-20">&#9734;&#160;&#9734;&#160;&#9734;&#160;&#9734;&#160;&#9734; </span>
        {% else %}
          {% if user_rating == 1 %}
            <span class="blue text-20">&#9733;&#160;&#9734;&#160;&#9734;&#160;&#9734;&#160;&#9734; </span>
          {% else %}
            {% if user_rating == 2 %}
              <span class="blue text-20">&#9733;&#160;&#9733;&#160;&#9734;&#160;&#9734;&#160;&#9734; </span>
            {% else %}
              {% if user_rating == 3 %}
                <span class="blue text-20">&#9733;&#160;&#9733;&#160;&#9733;&#160;&#9734;&#160;&#9734; </span>
              {% else %}
                {% if user_rating == 4 %}
                  <span class="blue text-20">&#9733;&#160;&#9733;&#160;&#9733;&#160;&#9733;&#160;&#9734; </span>
                {% else %}
                  {% if user_rating == 5 %}
                    <span class="blue text-20">&#9733;&#160;&#9733;&#160;&#9733;&#160;&#9733;&#160;&#9733; </span>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
        <span class="cambios">{{ total_swap }} cambios </span><br/>
      </div>
        <a href="/account/profile/{{ user.id}}">
        <div class="mini-profile-picture right" style="background-image: url({{ user.picture }})"></div>
        </a>
    </div>
  </div>
  {% include 'comments_template.html' %}
  <div class="clear"></div>
</div>