<!-- Image gallery div -->
<div class="img-galery">
  <div class="open-img-gallery">
  	<div class="img-count white left">
      <ul class="regiter-galery-option">
        {% for picture in info_product.gallery %}
          <li data-image="background-image: url({{ picture.url }});" data-url-image="{{ picture.url }}">
            {{ forloop.counter}}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="img-galery-info right bg-white black text-center">
  	<span>{{ followers }} seguidores</span>
  </div>
  <div class="clear"></div>
</div>

<!-- Name product -->
<div class="name-product-gallery">
  <h2>
  	{{ info_product.product.product_name }}
  	{% if owner_profile %}
    <div class="right"> 
  		Este producto tiene 
      <span class="product-more-info blue" style=" display:inline;">
        {% if tot_offer == None %} 0 {% else %} {{ tot_offer }} {% endif %} ofertas
        <div id="offers-hover-content" class="product-more-info-content hide">
          <div class="bg-white tab-info" data-content="#info-inbox">
            <img src="" width="50px">
            <span>
              {{ user.first_name }}
            </span>
          </div>
        </div>
      </span> y 
      <div class="product-more-info blue" style="display:inline;">
        {% if wisheslist.total_wisheslist %}
        {{ wisheslist.total_wisheslist }}
        {% else %}0
        {% endif %} interesados
        <div id="wisheslist-hover-content" class="product-more-info-content hide">
        </div>
      </div>
  	</div>
    {% endif %}
  </h2>
</div>

<!-- Description -->
<div class="description-product-gallery">
  <p>
    {{ info_product.product.about_product }}
  </p>
</div>

<!-- Controls -->
<div class="ctrls-product">
	{% if owner_profile or user_type == 'A' %}
    <button class="btn btn-yellow right" onclick="location.href='/product/edit/{{ product_id }}'">Editar Articulo</button>
    <button class="btn btn-red right delete-product" data-id="{{ product_id }}">Eliminar Articulo</button>
  {% else %}

	  <button class="btn btn-yellow right {% if is_offered == 'Y' %}inactive-icon{% endif %}" id="offer">Lo Quiero</button>
	  
	  <button class="btn btn-blue right" onclick="
											window.open(
												'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
												'facebook-share-dialog', 
												'width=626,height=436'); 
						return false;">Compartir</button>
    
	 <button class="btn btn-blue {% if is_follower %} inactive-icon {% endif %} right" id="follow">Seguir</button>
  {% endif %}

  <div class="clear"></div>
</div>