<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>test_search</title>
		<meta name="description" content="" />
		<meta name="author" content="Joselo" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script>
			$(function(){
				$('#search').click(function(){
					$.ajax({
					url:'/product/search/',
					type:'POST',
					data:{item:'ipod',
					user_id:'{{ request.user.id }}'
					}
				}).done(function(data){
					$.fancybox.open('<img src="' + data + '" width="600px">', { 'closeBtn' : false  });
				});
				});
			});
		</script>
	</head>

	<body>
		<div>
			<header>
				<h1>test_search</h1>
			</header>
			<nav>
				<p>
					<a href="/">Home</a>
				</p>
				<p>
					<a href="/contact">Contact</a>
				</p>
			</nav>

			<div>
				<button id="search">search</button>
			</div>

			<footer>
				<p>
					&copy; Copyright  by Joselo
				</p>
			</footer>
		</div>
	</body>
</html>
