<!DOCTYPE html>
<html ng-app>
	<head >
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>{% block title%}{% endblock %}</title>
		<meta name="description" content="" />
		<meta name="author" content="Joselo" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

		<!-- Font Family -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:bolditalic,300italic,400,300,bold'>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/basic.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
		<script src="{{STATIC_URL}}js/register.js"></script>
		<script src="{{STATIC_URL}}js/maps.js"></script>
		<script src="{{STATIC_URL}}js/script.js"></script>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.fancybox.css?v=2.1.5" media="screen" />
    	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.js?v=2.1.5"></script>
	</head>

	<body>
		{% include 'header_menu.html' %}

		<!-- Content -->
		<div id="content" class="bg-gray left" ng-controller="RegisterCtrl">
      <!-- Template content -->
      <div class="template-content left container">

      	<div class="register-container">
      		<!-- Instructions -->
					{% block sub_title %}{% endblock %}
					
					{% if group_id %}
						<form action="/group/edit/{{ group_id }}/" method="post">
					{% else %}
						<form action="/group/create/" method="post">
					{% endif %}
						{% csrf_token %} 
						
						{% block container %}{% endblock %}
						
						<div id="menu_footer" class="group-ctrols left">
							<div class="register-ctrols-content register-ctrols-group bg-green">
								<input type="submit" value="Crear Grupos / Guardar cambios" ng-mouseove="starKamvia()" class="bg-green white"/>
							</div>
						</div>
					</form>
				</div>
			</div>

			<footer>
				<p>&copy; Copyright  by Kamvia 2013</p>
			</footer>
		</div>
		{% if group_id %}
			<script type="text/javascript">
				$(document).ready(function() {
					$("input[name='group_name']").val('{{ group_name }}');
					$("textarea[name='about_group']").val('{{ about_group }}');
				});
			</script>
		{% endif %}
	</body>
</html>

