<!DOCTYPE HTML>
<html>
<head>
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:bolditalic,300italic,400,300,bold'>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/basic.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.fancybox.css?v=2.1.5" media="screen" />

	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.js?v=2.1.5"></script>
	<script type="text/javascript">
		$(function(){


			$("#aceptar").click(function() {
				response('acept');
			});

			$("#cancelar").click(function() {
				response('cancel');
			});
		});

		function response(resp){
			$.ajax({
				url: '/group/res-invite/',
				type: 'POST',
				data:{  group_id:'{{ group_id }}',
						response:resp,
						user_id:'{{ request.user.id }}',
						user_name:'{{ request.user.username }}',
						user_pic:'{{ request.user.picture }}',
						invite_type:'1'
					}
			}).done(function(data) {
				if(data=="acept"){
					$("#aceptar").css("display","None");
					$("#cancelar").css("display","None");
					$("#title").replaceWith('<span id="resp" style="color:green; font-size:bold;">Ahora eres parte del grupo {{ group_name }}</span>');
				}else if(data=="cancel"){
					$("#aceptar").css("display","None");
					$("#cancelar").css("display","None");
					$("#title").replaceWith('<span id="resp" style="color:green; font-size:bold;">Invitacion al {{ group_name }} declinada</span>');
				}else{
					$("#aceptar").css("display","None");
					$("#cancelar").css("display","None");
					$("#title").replaceWith('<span id="resp" style="color:red; font-size:bold;">'+data+'</span>');
				}
			});
		}
	</script>
</head>
<body>
	<div>
		<h5><span id="title" style="color:green;">¿Deseas unirte al grupo {{ group_name }}?</span></h5>
		<button id="aceptar">Aceptar</button>
		<button id="cancelar">Cancelar</button>
	</div>
</body>
</html>