<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Kamvia::{{ group_name }}</title>
	<meta name="author" content="Joselo" />
	<link rel="shortcut icon" href="/favicon.ico" />
	
	<!-- Font Family -->

  	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:bolditalic,300italic,400,300,bold'>
  	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.fancybox.css?v=2.1.5" media="screen" />

	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/basic.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />
	
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="{{STATIC_URL}}realtime-notifications/src/lib/gritter/js/jquery.gritter.min.js"></script>
	<link href="{{STATIC_URL}}realtime-notifications/src/lib/gritter/css/jquery.gritter.css"rel="stylesheet" type="text/css" />
	<script src="http://js.pusher.com/2.1/pusher.min.js"></script>
	<script src="{{STATIC_URL}}realtime-notifications/src/PusherNotifier.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.js?v=2.1.5"></script>
	<script src="{{STATIC_URL}}activity-streams/src/PusherActivityStreamer.js"></script>
    <link href="{{STATIC_URL}}activity-streams/src/activity-streams.css"rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.js?v=2.1.5"></script>
    <script src="{{STATIC_URL}}js/script.js"></script>
	
	<script>
		$(function(){

			$('#group-tabs .tab').click(function() {
        var action = $(this).data('action');

        $('#group-tabs .tab').removeClass('active-tab');
        $(this).addClass('active-tab');
        
        switch (action) {
        	case ('articles'):
            productsGroup('{{ group_id }}');
          break;
          case ('members'):
            usersGroup('{{ group_id }}');
          break;
          default:
            $('.profile-products').html('<div class="text-center bold">No se encontraron resultados.</div>');
        }
        
        return false;
      });

			var pusher = new Pusher('{{ PUSHER_KEY }}');
	 		var channel = pusher.subscribe('{{ request.user.id }}');
	 		var notifier = new PusherNotifier(channel);
			var channel = pusher.subscribe('{{ group_id }}');
			var streamer = new PusherActivityStreamer(channel,'.comments-product ul');

			$("#send-comment").submit(function() {
				var cmmnt = $("#comment").val();

				addComment(cmmnt);

				$("#comment").val('');

				return false;
			});
		});

		function addComment(comment) {
			$.ajax({
				type: 'POST',
				url: '/comments/send/',
				data: {
					'enviorment_id':'{{ group_id }}',
					'enviorment_type':'group_profile',
					'text':comment
				}
			}).done(function(data){
				if(data!='True')
					showFancyBoxMessage('Comentarios',data,true);
			});
		}
		
	</script>
	
</head>
<body>
	{% include 'header_menu.html' %}

	<!-- Content -->
	<div id="content" class="bg-gray left" ng-controller="RegisterCtrl">
    <!-- Template content -->
    <div class="template-content left container">
			<div class="group-container">
				<!-- Info group -->
				<div class="container-450 group-info-content bg-white left">
					<div class="top-title-content bg-green white">
					  {{ group_name }}
					  <div id="menu-down" class="right">
					  	<span class="title-icon">e</span>
					  	<!-- Menu -->
					  	<div id="menu-down-container" class="menu-down-container bg-white hide">
					      <div class="flecha-menu-down"><img src="{{STATIC_URL}}img/flechita.png"/></div>
					      <div class="content-menu-down">
					        <ul>
					          <li>
					          	<a href="{{ request.user.id }}" data-group="{{ group_id }}" class="add-product black">
					          		<i>Subir un producto al grupo</i>
					          	</a>
					          </li>
					          <li>
					          	<a href="{{ request.user.id }}" data-group="{{ group_id }}" id="invite-friends" class="black">
					          		<i>Invita a un amigo</i>
					          	</a>
					          </li>
					          {% if owner != 'owner' %}
					          	<li>
					          		<a href="{{ group_id }}" data-user="{{ request.user.id }}" class="black" id="out-group"><i>Abandonar grupo</i></a>
					          	</li>
					          {% endif %}
					          {% if owner == 'owner' %}
					          	<li><a href="{{ group_id }}" data-user="{{ request.user.id }}" class="black" id="out-user-group"><i>Expulsar un usuario</i></a></li>
					          {% endif %}
					          {% if owner == 'owner' %}
					          	<li><a href="/group/edit/{{ group_id }}" class="black"><i>Editar Grupo</i></a></li>
					          {% endif %}
					          {% if owner == 'owner' %}
					          	<li><a href="{{ group_id }}" class="black" id="moderator-group"><i>Invitar / Eliminar Moderadores</i></a></li>
					          {% endif %}
					          {% if owner == 'owner' %}
					          	<li><a href="{{ group_id }}" data-user="{{ request.user.id }}" class="black" id="change-owner-group"><i>Cambiar creador</i></a></li>
					          {% endif %}
					          {% if owner == 'owner' %}
					          	<li><a href="{{ group_id }}" class="black" id="delete-group"><i>Cerrar Grupo</i></a></li>
					          {% endif %}
					        </ul>
					      </div>
					    </div>
					  </div>
					  <div class="title-icon right">i</div>
					</div>
					<div class="group-info bg-white">
					   {{ about_group }}
					</div>
				</div>
				
				<!-- Chat -->
				<div class="container-600 bg-white left">
					<div class="top-title-content bg-green white">
					  Publica algo en tu comunidad
					</div>

					<div class="comments-product bg-white">
            <div class="add-comment">
              <form id="send-comment">
                <div class="images left"><img src="{{ request.user.picture }}" width="50px" height="50px" /></div>
                <input id="comment" type="text" placeholder="Agrega un nuevo comentario" class="input-add-comment bg-gray">
                <p>Presiona Enter para enviar</p>
              </form>
            </div>

            <div class="clear"></div>
            <h2 class="text-12"><span class="disc green left"></span> Actividad reciente en la comunidad</h2>
            <hr>
            <ul>
              {% for comment in comments %}
                {% for c in comment %}
                  <li>
                    <div class="comment bg-gray left">
                      <div class="images left">
                        <img src="{{ c.user_pic }}" width="50px" height="50px" />
                      </div>
                      <div class="info-person left">
                        <span class="comment-name bold">{{ c.user_name }}</span><br />
                        <span class="comment-date text-10">{{ c.date|truncatechars:13 }}</span>
                      </div>
                      <div class="comment-text left"><span>{{ c.text }}</span></div>
                    </div>
                  </li>
                {% endfor %}
              {% endfor %}
            </ul>
          </div>
				</div>

				<div class="clear"></div>
				<!-- Articicules content -->
			  <div class="profile-pestanas bg-white">
			  	<!-- tabs -->
			    <div id="group-tabs" class="pestanas bg-white">
			      <div data-action="articles" class="bg-white active-tab left text-center tab"><i>Artículos</i></div>
			      <div data-action="members" class="bg-white left text-center tab"><i>Miembros</i></div>
			      <div class="clear"></div>
			    </div>
			    <!-- search -->
			    <div class="search-articulos bg-green">
			      <div class="left">
			      	<form id="search-group">
				      	<input type="text" id="search-value" placeholder="Search" class="left">
				        <input type="submit" class="bg-blue white left" value="buscar">
				    	</form>
			      </div>
			    </div>
			    <div class="search-articulos bg-white">
			      <!-- <div class="left">
			        <select id="#filter-categories" class="bg-gray black">
			          {% for c in categories %}
			            <option value="{{ c }}">{{ c }}</option>
			          {% endfor %}
			        </select>
			      </div> -->
			      <div class="right bg-yellow bold text-center button-link">
			      	<a href="{{ request.user.id }}" data-group="{{ group_id }}" id="add-article" class="block white">Agregar un articulo</a>
			      </div>
			    </div>
			  </div>

			  <div class="profile-products">
			    {% for p in products %}
			      {% for pp in p %}
				      <div class="product column left">
			          <div class="products-container white bg-green">
			            <a href="/product/profile/{{ pp.product_id }}" class="white" title=" product_name_alt">
		                <span class="title-content left">{{ pp.product_name }}</span>
		              </a>
			            <div class="clear "></div>
			          </div>
			          <div class="bg-dark-gray text-center">
			            <img src="{{ pp.product_img }}" width="100%">
			          </div>
			          <div class="products-container-hover hide">
			            <div class="text-left black bold">Categoria</div>
			            <div class="text-left black description">{{ pp.categories.category_1 }}</div>
			            <div class="text-left black bold">Seguidores</div>
			            <div class="text-left black description">{{ pp.product_follows }}</div>
			            <div class="text-left black bold">Tags</div>
			            <div class="text-left black description">{{ pp.product_tags.tags_1 }} {{ pp.product_tags.tags_2 }} {{ pp.product_tags.tags_3 }}</div>
			            <hr>
			            <a id="offer-product" class="bg-green white left button" data-name="{{ pp.product_name }}" data-id="{{ pp.product_id }}" data-user-id="{{ pp.product_user_id }}" data-user-name="{{ pp.product_user_name }}" data-img="{{ pp.product_img }}">Seguir</a>
			            <div class="clear"></div>
			          </div>
			        </div>
			      {% endfor %}
			    {% endfor %}
			  </div>
				
			</div>			
		</div>
	</div>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44188722-1', 'kamvia.mx');
  ga('send', 'pageview');

</script>
</body>
</html>