<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Kamvia::Grupos</title>
	<meta name="author" content="Joselo" />
	<link rel="shortcut icon" href="/favicon.ico" />
	
	<!-- Font Family -->
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:bolditalic,300italic,400,300,bold'>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/basic.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.fancybox.css?v=2.1.5" media="screen" />

	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.js?v=2.1.5"></script>
    <script src="{{STATIC_URL}}js/script.js"></script>
    <script src="{{STATIC_URL}}realtime-notifications/src/lib/gritter/js/jquery.gritter.min.js"></script>
    <link href="{{STATIC_URL}}realtime-notifications/src/lib/gritter/css/jquery.gritter.css"rel="stylesheet" type="text/css" />
    <script src="http://js.pusher.com/2.1/pusher.min.js"></script>
    <script src="{{STATIC_URL}}realtime-notifications/src/PusherNotifier.js"></script>

	<script>
      $(function() {

        var pusher = new Pusher('{{ PUSHER_KEY }}');
        var channel = pusher.subscribe('{{ request.user.id }}');
        var notifier = new PusherNotifier(channel);
    });
    </script>
</head>
<body>
	{% include 'header_menu.html' %}

	<!-- Content -->
	<div id="content" class="bg-gray left">
    <!-- Template content -->
    <div class="template-content left container">
			<div class="group-container">
				<h2 class="text-16"><span class="disc green left"></span> Tus comunidades</h2>  
				<!-- Articicules content -->
			  <div class="profile-pestanas bg-white">
			  	<!-- tabs -->
			    <div id="search-group" class="pestanas bg-white">
			      <div data-type="all" class="bg-white left text-center tab active"><i>Todos</i></div>
			      <div data-type="open" class="bg-white left text-center tab"><i>Abierto</i></div>
			      <div data-type="close" class="bg-white left text-center tab"><i>Cerrados</i></div>
			      <div class="clear"></div>
			    </div>
			    <!-- search -->
			    <div class="search-articulos bg-green">
			    	<form id="search-in-group">
				      <div class="left">
				      	<input type="text" id="search-value" placeholder="Encuentra tu comunidad" class="left">
				        <input type="submit" class="bg-blue white left" value="buscar">
				      </div>
			    	</form>
			    </div>
			  </div>

			  <div class="profile-products">
			  	
			    {% for g in all_groups.groups %}
			    	{% for gg in g %}
		    		  <div class="product-info column left bg-white">
			          <div class="white bg-green title-content">
			          	{{ gg.group_name }}
			          </div>
			          <div class="bg-white text-center black">
			          	Este grupo no cuenta con articulos aun.
		            </div>
		            <!-- Over view -->
		            <div class="over-product-info hide">
			        		<div class="title-content bg-blue"><a class="go-group white block" href="/group/profile/{{ gg.group_id }}">{{ gg.group_name }}</a></div>
			        		<div class="black tab-content">
			        			<span class="bold">Miembros</span><br>
			        			<span>{{ gg.group_members }}</span>
			        		</div>
			        		<div class="black tab-content">
			        			<span class="bold">Productos</span><br>
			        			<span>{{ gg.group_products }}</span>
			        		</div>
			        		<div class="title-content bg-blue"><a class="leave-group white block" href="{{ gg.group_id }}">Abandonar grupo</a></div>
			        		<div class="title-content bg-blue"><a class="resign-group white block" href="{{ gg.group_id }}">Renunciar moderador</a></div>
			        		<div class="title-content bg-blue"><a class="close-group white block" href="{{ gg.group_id }}">Cerrar grupo</a></div>
			        	</div>
			        	<div class="clear"></div>
				      </div>
			      {% endfor %}
			    {% endfor %}
			    <div class="clear"></div>
			  </div>
				
			</div>			
		</div>
	</div>
</body>
</html>