{% extends 'base_registrationg.html' %}

{% block sub_title %}
	<h1 class="text-center">Alta - Edición de Grupo</h1>
	<p class="text-center">
		Nombra y da info de tu grupo, define que tipo de grupos es,<br>
		invita a gente y publicalo.
	</p>
{% endblock%}

{% block container %}
	<div id="register-group" class="regiter-info-content regiter-info-2-content">
		<ul>
			<li class="left">
				{{ form.group_name }}
				{{ form.about_group }}
			</li>
			<li class="left">
				<p class="register-description">Nombra tu grupo.<br /> (Ejemplos: Interkamvio de tarjetas de baseball)</p>
				<p class="register-description">
					Describe tu Grupo.
					<br />
					(Cuenta de que va tu Grupo y si hay reglas o especificaciones)
				</p>
			</li>
		</ul>
		<div class="clear"></div>
	</div>

	<div id="register-group-type" class="regiter-info-content regiter-info-2-content">
		<ul>
			<li class="left">
				<div class="grou-type">
					{{ form.type_group }}
					<div class="clear"></div>
				</div>
			</li>
			<li class="left">
				<p class="register-description">Elige el tipo de grupo.</p>
				<p class="register-description">
					<span class="bold"><i>Abierto</i></span> Cualquiera puede ver los productos de este grupo. Cualquiera puede unirse a este grupo.
				</p>
				<p class="register-description">
					<span class="bold"><i>Cerrado</i></span> Solo los miembros pueden ver contenido. Solo se puede ser miembro por invitación
				</p>
			</li>
		</ul>
		<div class="clear"></div>
		{{ form.stp1_id }}
		{{ form.nxt_stp_id }}
	</div>
{% endblock %}
