<div class="private-message bg-white left">
  <form id="chat" action='/chat/create_chat/' id="send-message" method="POST">
    {% csrf_token %}
    <b>Envía un Mensaje</b>
    <textarea type="text" placeholder="¿Que buscas?" class="bg-gray" name="message" id="message-chat"></textarea>  
    
    <input id="submit" style="cursor:pointer;" type="submit" class="bg-yellow white text-center right button-big text-12" value="Enviar">
  </form>
</div>


 <script type="text/javascript">
  $('#send-message').submit(function() {

    var url = $(this).attr('action');
    if($('#message-chat').val()!=''){
      $.post(url, { title_chat: $('#title').val(), message: $('#message-chat').val(), second_user: '{{ user_id }}' }, function(data) {
        $('#title').val('');
        $('#message-chat').val('');
        showFancyBoxMessage('Mensajes','Tu mensaje ha sido enviado.',true);
      });
    }
    return false;
  });
</script>