<div class="comments-product bg-white left">
  <ul>
    {% for comment in comments %}
      {% for c in comment %}
        <li>
          <div class="comment bg-gray left">
            <div class="images left" style="background:url('{{ c.user_pic }}'); background-size:100%; width:50px; height:50px;">

            </div>
            <div class="info-person left">
              <span class="comment-name bold" title="{{ c.user_name }}">{{ c.user_name }}</span><br />
              <span class="comment-date">{{ c.date|date:"M d" }} at {{ c.date|time:"H:i" }}</span>
            </div>
            <div class="comment-text left"><span>{{ c.text }}</span></div>
          </div>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>
  <div class="add-comment">
    <form id="send-comment">
      {% csrf_token %}
      <div class="images left"><img src="{{ request.user.picture }}" width="50px" height="50px" /></div>
      <input type="text" name="comment" id="comment-post" placeholder="Agrega un nuevo comentario" class="input-add-comment bg-gray">
      <input type="hidden" id="product_id" name="product_id" value="{{ info_product.product_id }}">
      <p>Presiona Enter para enviar</p>
    </form>
  </div>
  
  <div class="clear"></div>
</div>
