<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>test_comment</title>
		<meta name="description" content="" />
		<meta name="author" content="Joselo" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
			<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="http://js.pusher.com/2.1/pusher.min.js"></script>
		<script src="{{STATIC_URL}}activity-streams/src/PusherActivityStreamer.js"></script>
		<link href="{{STATIC_URL}}activity-streams/src/activity-streams.css"rel="stylesheet" type="text/css" />
		
				<script>
			$(function(){
				$("#send_comment").click(handleNotifyButtonClick);

				var pusher = new Pusher('{{ PUSHER_KEY }}');
				var channel = pusher.subscribe('520bfb8283ec740c47d760b9');
				var streamer = new PusherActivityStreamer(channel,'#comments');
			});
			function handleNotifyButtonClick() {
          			$.ajax({
          			type: "POST",
            		url: '/comments/send/',
            		data: {user_id: '{{request.session.user_id}}',
            				enviroment_id:'520bfb8283ec740c47d760b9',
            				eviorment_type:'product',
            				text:'Este es un comentario',
            				user_pic:'https://s3-us-west-2.amazonaws.com/kamviaassets/default-bg-product.jpg'}
          			});
      		}
		</script>
		
	</head>

	<body>
		<div>
			<header>
				<h1>test_comment</h1>
			</header>
			<nav>
				<p>
					<a href="/">Home</a>
				</p>
				<p>
					<a href="/contact">Contact</a>
				</p>
			</nav>

			<div>
				<button id="send_comment">Send comment</button>
				<ul id="comments" class="activity-stream"></ul>
			</div>
			<div id="comments"></div>
			<footer>
				<p>
					&copy; Copyright  by Joselo
				</p>
			</footer>
		</div>
	</body>
</html>
