<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>Kamvia::Tus Ofertas</title>
		<meta name="description" content="" />
		<meta name="author" content="Joselo" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Font Family -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:bolditalic,300italic,400,300,bold'>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/basic.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.fancybox.css?v=2.1.5" media="screen" />
		
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="{{STATIC_URL}}realtime-notifications/src/lib/gritter/js/jquery.gritter.min.js"></script>
    <link href="{{STATIC_URL}}realtime-notifications/src/lib/gritter/css/jquery.gritter.css"rel="stylesheet" type="text/css" />
    <script src="http://js.pusher.com/2.1/pusher.min.js"></script>
    <script src="{{STATIC_URL}}realtime-notifications/src/PusherNotifier.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.js?v=2.1.5"></script>
		<script src="{{STATIC_URL}}js/script.js"></script>
		<script >
			$(function(){
				
				var pusher = new Pusher('{{ PUSHER_KEY }}');
  				var channel = pusher.subscribe('{{request.user.id}}');
  				var notifier = new PusherNotifier(channel);
			});

		</script>
	</head>
	<body class="bg-gray">
  	{% include 'header_menu.html' %}
    <!-- Content -->
    <div id="content" class="bg-gray left" ng-controller="RegisterCtrl">
      <!-- Template content -->
      <div class="template-content left container">
				<div id="all-ofers-container">

					<div class="container-50 left bg-white">
        		<div class="bg-green top-title-content white">Actividad Reciente en tus ofertas</div>
        		<div class="bg-white">
        			<div class="buzon-messages bg-white">
        				{% for offers in chunk %}
        					{% for offer in offers %}
	        					<div class="left text-12"><i>{{ offer.date }}</i></div>
		                <hr>
		                <div class="clear"></div>
		                <div class="buzon-message-content">
		                	<div class="left">
		                    <img src="{{ offer.bidder_photo }}" width="50px" />
		                  </div>
		                  <div class="buzon-message left">
		                    <div class="left text-12"><i class="bold">{{ offer.bidder }}</i> <i>{{ offer.title }}</i> <i class="bold">{{ offer.product }}</i><i class="bold">{{ offer.owner }}</i></div>
		                    <div class="right">
		                      {% if offer.status == '1'%}
													<a href="{{ offer.url }}" class="text-12 black"><i>ir a oferta</i></a>
													{% else %}
														{% if offer.status == '2'%}
														<a class="text-12 black"><i>CANCELADA</i></a>
														{% else%}
															{% if offer.status == '3'%}
															<a class="text-12 black"><i>ACEPTADA</i></a>
															{% endif %}
														{% endif%}
													{% endif %}
		                    </div>
		                    <div class="clear"></div>
		                  </div>
		                  <div class="clear"></div>
		                </div>
	                {% endfor %}
        				{% endfor %}
              </div>
            </div>
          </div>
        	
        	<div class="container-50 left bg-white">
						<div class="bg-green top-title-content white">Ofertas</div>
						<div class="bg-white">
							<div class="buzon-messages bg-white">
								{% for offers in chunk %}
        					{% for offer in offers %}
										<div class="left text-12"><i>{{ offer.date|truncatechars:13 }}</i></div><hr>
										<div class="clear"></div>
										<div class="buzon-message-content">
											<div class="left">
												<img src="{{ offer.bidder_photo }}" width="50px" />
											</div>
											<a href="{{ offer.url }}">
												<div class="buzon-message left">
													<div class="left text-12 black">
														<i class="bold">{{ offer.bidder }}</i> <i>{{ offer.title }}</i><i class="bold">{{ offer.product }}</i><i class="bold">{{ offer.owner }}</i>
													</div>
													<div class="right black text-12">
														{% if offer.status == '1'%}
															<i>ir a oferta</i>
														{% else %}
															{% if offer.status == '2'%}
																<i>CANCELADA</i>
															{% else%}
																{% if offer.status == '3'%}
																	<i>ACEPTADA</i>
																{% endif %}
															{% endif%}
														{% endif %}
													</div>
													<div class="clear"></div>
												</div>
											</a>
											<div class="clear"></div>
											<a href="{{ offer.url }}">
												<div class="product-preview bg-white" style="background-image: url({{ offer.photo }});">
													<div class="clear"></div>
												</div>
											</a>
											<div class="clear"></div>
										</div>
									{% endfor %}
								{% endfor %}
							</div>
						</div>
					</div>
					
        	
					<div class="clear"></div>
        	
        </div>
      </div>
    </div>

    <div class="clear"></div>
  </body>
</html>
