<div id="ofers-container">
  <div class="upper-content">
    <div class="left">
      {% include 'template-gallery.html' %}

    </div>

    <div class="column-right left">
      {% include 'template-info.html' %}
      <br />
      {%if show_acept_deny and offer_status == '1' %}
        <button id="acept" data-offerId="{{offer_id}}" data-userId="{{owner_id}}" class="btn btn-yellow right">Aceptar Oferta</button>
        <button id="cancel" class="btn btn-red right">Denegar Oferta</button>
        <div class="clear"></div>
      {%endif%}
    </div>
  </div>
  <div class="clear"></div>
  {%if offer_status == '1'%}
    {%if not show_menu_offer and not new_offer %}
      <span class="text-center">Tu propuesta ha sido enviada, espera a que <b>{{owner_username}}</b> acepte tu oferta o te envíe una propuesta diferente</span>
    {%endif%}
    {%if show_menu_offer %}
    <div class="text-center"><b>Realiza una propuesta</b> a <b>{{owner_username}}</b> para intercambiar su producto.</div>
        <div class="profile-pestanas bg-white">
          <!-- tabs -->
          <div id="offer-tabs" class="pestanas bg-white">
            
              <button class="btn btn-yellow right send-offer" style="margin-top:5px;">Mandar Propuesta</button>
              
        <span data-action="mine" class="text-12 tab-info-content tab">Tus Artículos</span>
            <span data-action="friends" class="text-12 tab-info-content tab">Productos de tus Amigos</span>
            <span data-action="products-offer" class="text-12 tab-info-content tab bg-gray bag-bidder">Propuestas</span>
            <div class="clear"></div>
          </div>
        </div>

      <div class="profile-products">
        <div class="text-center">No se encontraron articulos.</div>
      </div>
    {%endif%}
  {%else%}
    {%if offer_status == '3' %}
      <span class="text-center message-accepted"><b>Se ha aceptado la oferta</b> ponte de acuerdo para los metodos de envio de los productos</span>
      {%if owner_rated != 'True'%}
        <div class=" bg-white rating-box">
          <img width="50px" height="50px" title="oscar" src="{{owner_img}}">
          <span style="width:33px;">{{owner_username}}</span>
          <span class="blue text-11">
            <span id="rating_user" class="blue text-20">
              <span id="star_rate_1" class="rate" data-rate="1" data-status="empty" style="cursor:pointer;">☆</span>
              <span id="star_rate_2" class="rate" data-rate="2" data-status="empty" style="cursor:pointer;">☆</span> 
              <span id="star_rate_3" class="rate" data-rate="3" data-status="empty" style="cursor:pointer;">☆</span> 
              <span id="star_rate_4" class="rate" data-rate="4" data-status="empty" style="cursor:pointer;">☆</span> 
              <span id="star_rate_5" class="rate" data-rate="5" data-status="empty" style="cursor:pointer;">☆</span>
              <button class=" btn-red right rate_user center-buton" rank="" data-userId="{{owner_id}}" data-usertorate="owner" data-offerId="{{offer_id}}">Calificar</button>
            </span>
          </span>
          <span class="text-center"><b>Califica al usuario</b> con el que intercambiaste</span>
        </div>
      {%else%}
        <span class="text-center"><b>La oferta se ha calificado</b>.</span>
      {%endif%}
    {%else%}
      <span class="text-center"><b>La oferta se ha cancelado</b>.</span>
    {%endif%}
  {%endif%}
</div>
