<!DOCTYPE html>
<html ng-app>
	<head >
		<meta charset="utf-8" />
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>{% block title%}Kamvia::Oferta{% endblock %}</title>
		<meta name="description" content="" />
		<meta name="author" content="Joselo" />
		<meta name="viewport" content="width=device-width initial-scale=1.0" />

		<!-- Styles -->
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:bolditalic,300italic,400,300,bold'>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.fancybox.css?v=2.1.5" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/basic.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />
		<link href="{{STATIC_URL}}realtime-notifications/src/lib/gritter/css/jquery.gritter.css"rel="stylesheet" type="text/css" />
		<link href="{{STATIC_URL}}activity-streams/src/activity-streams.css"rel="stylesheet" type="text/css" />
		
		<!-- Scripts -->
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="{{STATIC_URL}}realtime-notifications/src/lib/gritter/js/jquery.gritter.js"></script>
		<script src="http://js.pusher.com/2.1/pusher.min.js"></script>
		<script src="{{STATIC_URL}}realtime-notifications/src/PusherNotifier.js"></script>
		<script src="{{STATIC_URL}}activity-streams/src/PusherActivityStreamer.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.js?v=2.1.5"></script>
		<script src="{{STATIC_URL}}js/script.js"></script>
		<script >
			$(function(){
				//INICIALIZACION DE PUSHER
				var pusher = new Pusher('{{ info_product.PUSHER_KEY }}');
  		 		var channel = pusher.subscribe('{{ request.user.id }}');
  		 		var notifier = new PusherNotifier(channel);
  		 		//comment
				var channel = pusher.subscribe('{{ info_product.product_id }}');
				var streamer = new PusherActivityStreamer(channel,'#info-comments-product ul');
				//chat
				var channel = pusher.subscribe('{{ request.user.id }}');
				var streamer = new PusherActivityStreamer(channel,'#user-inbox-content ul',"", '{{ request.user.id }}');

				//CERRAMOS COMENTARIOS ABRIMOS CHAT
				$('#info-comments-product').hide();
				$('#info-inbox').show();
				$('.mini-profile-user').show();
              	$('#send-comment').css('display','block');
              	$('#send-chat').css('display','none');
              	loadChatsOffer('{{chat_id}}')


				$.post('/product/user_match_wishlist/', { tags: '{{tags}}' }, function(jsont) {
					var content = '';

					if (jsont.length > 0) {
						$.each(jsont, function(key, value) {
							content = content + '<div class="bg-white">' +
																		'<a href="/account/profile/' + value.user_id + '/" class="blue">' +
													            '<img src="' + value.pic_profile + '" width="50px">' +
													            '<span>' + value.nick_name + '</span>' +
													          '</a>' +
												          '</div>';
						});

						$('#wisheslist-hover-content').html(content);
					} else {
						$('#wisheslist-hover-content').remove();
					}
				}, 'json');

				productsInPropose('{{ offer_id }}', '2');
				getUsersOffers();

				// Offer tabs
				$('#offer-tabs span.tab').click(function() {
					$('#offer-tabs span.tab').removeClass('bg-gray');
					$(this).addClass('bg-gray');
					
					var action = $(this).data('action');
					console.log(action);
					switch (action) {
						case ('mine'):
							allProducts('{{ request.user.id }}', '{{offer_id}}', '2');
						break;
						case ('friends'):
							friendsProducts('{{ request.user.id }}', '{{offer_id}}', '2');
						break;
						case ('products-bidder'):
							allProducts('{{ bidder_id }}', '{{ offer_id }}', '2');
						break;
						case ('common-friends'):
							friendsProducts('{{ bidder_id }}', '{{offer_id}}', '2');
						break;
						case ('products-offer'):
							productsInPropose('{{ offer_id }}', '2');
						break;
						default:
						
					}
				});

				$("body").delegate( ".delete-offer-product", "click", function() {
    			var id_product = $(this).data('id');
    			var id_user = '{{ offer_id }}';
    			var resp = deleteOfferProduct(id_product, id_user);

    			if (resp) { $(this).parent().parent().remove(); }

    			event.preventDefault();
  			});
				//SEND A PROPOSAL MADE FOR A USER
				$(document).delegate('.send-offer','click', function() {
					$.post('/offer/envia_prop/', { offer_id: '{{ offer_id }}' }, function(data) {
						showFancyBoxMessage('Oferta','Propuesta envianda',true);
				  });

					event.preventDefault();
				});

				$("#cancel").click(function(){
					$(this).hide();
					$("#acept").hide();
					offer_response('2',false)});

				$("#acept").click(function(){
					//$(this).hide();
					$("#cancel").hide();
					user_id = $(this).data('userid')
					offer_response('3',user_id)
					console.log("preparando ajax {{chat_id}}")
					$.ajax({
	                    url: '/chat/m/',
	                    type: 'POST',
	                    data: {chat_id:'{{chat_id}}',
	                    	   message:'Se ha aceptado la oferta ponte de acuerdo para los metodos de envio de los productos',
	                    	csrfmiddlewaretoken: '{{ csrf_token }}'}
	                }).done(function(data) {
	                  getChats('{{ request.user.id }}');
	                });
	                console.log("ajax enviado")
	                return false;
				});
  				
  				$('#chat-submit').submit(function(){
		            var $this = $(this);
		            $.ajax({
		                url: $this.attr('action'),
		                type: $this.attr('method'),
		                data: $this.serialize(),
		            }).done(function(data) {
		              getChats('{{ request.user.id }}');
		            });
		            this.reset();
		            event.preventDefault();
          		});

			});

			$(document).delegate('.add-prod-offer', 'click', function(event) {
				var product_id = $(this).data('product');
				
				add_product_handdler(product_id);

				event.preventDefault();
			});

			function add_product_handdler(product_id) {
				$.ajax({
						url:'/offer/response/',
						type:'POST',
						data:{
								product_id: product_id,
							  offer_id: "{{ offer_id }}",
							  user_type: "{{ user_type }}"
						 	}
					}).done(function(data){
						if(data!='True')
							showFancyBoxMessage('Oferta',data,true);
				});	
			}

			function offer_response(response,user_id){
				$.ajax({
						url:'/offer/finish/',
						type:'POST',
						data:{offer_id:"{{ offer_id }}",
							  product_offer_id: '{{product_id}}',
							  offer_res:response,
							  user_id: user_id
						 	 }
					}).done(function(data){
						location.reload(true);
						/*if(data=='True')
							window.location.href == '/account/profile/#profile-offers'
						else
							showFancyBoxMessage('Oferta',data,true);*/
				});
			}

			// Get chats to offers
			function getUsersOffers(){
				$.post('/offer/product_offers/', { product_id: '{{ product_id }}' } , function(jsont) {
					var content = '';
					jsont = jsont.offers;

					if (jsont.length > 0) {
						console.log(jsont.length);
						$.each(jsont, function(key, value) {
							value = value[0];
							var rank = '';
							switch(value.rating) {
								case 0:
								  rank = '☆ ☆ ☆ ☆ ☆';
								  break;
								case 1:
								  rank = '★ ☆ ☆ ☆ ☆';
								  break;
								case 2:
								  rank = '★ ★ ☆ ☆ ☆';
								  break;
								case 3:
								  rank = '★ ★ ★ ☆ ☆';
								  break;
								case 4:
								  rank = '★ ★ ★ ★ ☆';
								  break;
								case 5:
								  rank = '★ ★ ★ ★ ★';
								  break;
								default:
							  	rank = '☆ ☆ ☆ ☆ ☆';
							}

							content = content + '<div data-chat="' + value.chat_id + '" data-name="' + value.bidder_name + '" data-rank="' + value.rating + '" data-idFu="' + value.bidder_id + '" data-idSu="'+value.owner_id+'" data-offerId="'+value.offer_id+
											'" class="chat-select bg-white">' +
														        '<img src="' + value.bidder_photo + '" width="50px">' +
														        '<span style="width:33px;">' + value.bidder_name + '</span>' +
														        '<span class="blue text-11"></span>'
														      '</div>';
						});

						$('#chats-container, #offers-hover-content').html(content);
					} else {
						$('#chat-title-user, #offers-hover-content').remove();
					}
				}, 'json');
			}

		</script>
	</head>

	<body>
		{% include 'header_menu.html' %}
		<!-- Content -->
    <div id="content" class="bg-gray left" ng-controller="RegisterCtrl">
      <!-- Template content -->
      <div class="template-content left container">
      	{% if user_type == 'A' %}
          {% include 'a_offer.html' %}
        {% else %}
          {% if user_type == "B" %}
            {% include 'b_offer.html' %}
          {% else %}  
            {% include 'b_offer.html' %}
          {% endif %}
        {% endif %}
			</div>

		</div>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-44188722-1', 'kamvia.mx');
		  ga('send', 'pageview');
		</script>
	</body>
</html>