<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>test_not</title>
		<meta name="description" content="" />
		<meta name="author" content="Joselo" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="{{STATIC_URL}}realtime-notifications/src/lib/gritter/js/jquery.gritter.min.js"></script>
		<link href="{{STATIC_URL}}realtime-notifications/src/lib/gritter/css/jquery.gritter.css"rel="stylesheet" type="text/css" />
		<script src="http://js.pusher.com/2.1/pusher.min.js"></script>
		<script src="{{STATIC_URL}}realtime-notifications/src/PusherNotifier.js"></script>
		<script src="{{STATIC_URL}}js/notification.js"></script>
		<script>
			NOTIFY_ENDPOINT = "/notifications/send/"
		
			$(function() {
				$("#sendNotify").click(handleNotifyButtonClick);
				
  				var pusher = new Pusher('{{ PUSHER_KEY }}');
  				var channel = pusher.subscribe('noti-kamvia');
  				var notifier = new PusherNotifier(channel);
			});
			

			function handleNotifyButtonClick() {
        		var message = $.trim($("#notifyMessage").val());
          			$.ajax({
          			type: "POST",
            		url: NOTIFY_ENDPOINT,
            		data: {"message": message}
          			});
      		}
			
		</script>
	</head>

	<body>
		<div>
			 <textarea id="notifyMessage" placeholder="Escribe la notificacion"></textarea><br />
			<button id="sendNotify">Notify</button>
		</div>
	</body>
</html>
