/***********************************/
/*            Icons font           */
/***********************************/
@font-face {
  font-family: 'kamvia_iconosregular';
  src: url('kamvia-font.eot');
  src: url('kamvia-font.eot?#iefix') format('embedded-opentype'),
  url('kamvia-font.woff') format('woff'),
  url('kamvia-font.ttf') format('truetype'),
  url('kamvia-font.svg#kamvia_iconosregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/***********************************/
/*          Reset Styles           */
/***********************************/

body {
  background-color: #f2f2f2!important;
  font-family: 'Open Sans', sans-serif!important;
  font-size: 1em;
  color: #333333;
  margin: 0!important;
  padding: 0!important;
}

form {
  margin: 0;
  padding: 0;
}

table {
  border-collapse:separate;
  border-spacing:0;
}

caption, th, td {
  text-align:left;
  font-weight:normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:"";
}

blockquote, q {
  quotes:"" "";
}

/***********************************/
/*          HTML5 tags             */
/***********************************/

header, section, footer,
aside, nav, article, figure {
  display: block;
}

/***********************************/
/*         Default Styles          */
/***********************************/

a, a:visited {
  color: white;
  text-decoration:none;
}

a:hover, a:active {
  text-decoration:none;
}

.clear {
  clear: both;
}

.left {
  float: left!important;
}

.right {
  float: right!important;
}

.center {
  margin: 0 auto!important;
}

.text-left {
  text-align: left!important;
}

.text-right {
  text-align: right!important;
}

.text-center {
  text-align: center!important;
}

.text-underline {
  text-decoration: underline!important;
}

.block {
  display: block!important;
}

.none {
  display: none!important;
}

.hide {
  display: none;
}

.transparent {
  height: 0;
  opacity: 0;
}

.inactive-icon {
  opacity: 0.2;
  cursor: auto!important;
}

.bold {
  font-weight: bold!important;
}

.inherit {
  font-weight: inherit!important;
}

.lighter {
  font-weight: lighter!important;
}

.normal {
  font-weight: normal!important;
}

.icon {
    color: #FFFFFF!important;
    font-family: 'kamvia_iconosregular'!important;
    font-size: 46px!important;
    line-height: 1!important;
}

.icon-input {
  border: 0 none;
  font-family: 'kamvia_iconosregular';
  font-size: 26px;
  font-weight: lighter;
  height: 32px;
  line-height: 1.2;
  margin-top: 8px;
  padding: 0 0 0 5px;
  width: 40px;
}

 .icon-menu {
  font-family: 'kamvia_iconosregular';
  font-size: 40px;
  height: 50px;
  line-height: 1.2;
  width: 50px;
  text-align: center;
 }

.title-icon {
    color: #FFFFFF !important;
    font-family: 'kamvia_iconosregular' !important;
    font-size: 42px !important;
    line-height: 1.2 !important;
    cursor: pointer;
}

.mini-icon {
    color: #FFFFFF!important;
    font-family: 'kamvia_iconosregular'!important;
    font-size: 32px!important;
}

.disc {
  display: list-item;
  list-style: disc;
  margin: 0 0 0 25px;
  padding: 0;
}

/***********************************/
/*          Valid form             */
/***********************************/

.success-form { 
  border: 1px solid #60a797!important;
}

.error-form { 
  border: 1px solid #ea254a!important;
}

/***********************************/
/*           Colors                */
/***********************************/

.gray {
  color: #f2f2f2!important;
}

.red {
  color: #ea254a!important;
}

.orange {
  color: #e36043!important;
}

.yellow {
  color: #fbbb63!important;
}

.green {
  color: #60a797!important;
}

.blue {
  color: #498897!important;
}

.black {
  color: #333333!important;
}

.white {
  color: #FFFFFF!important;
}

.text-transparent {
  color: transparent!important;
}

.opacity {
  opacity: 0.4!important;
}

/***********************************/
/*          Backgrounds            */
/***********************************/

.bg-gray {
  background-color: #f2f2f2!important;
}

.bg-dark-gray{
  background: #e7e7e7!important;
}

.bg-red {
  background-color: #ea254a!important;
}

.bg-orange {
  background-color: #e36043!important;
}

.bg-yellow {
  background-color: #fbbb63!important;
}

.bg-green {
  background-color: #60a797!important;
}

.bg-blue {
  background-color: #498897!important;
}

.bg-black {
  background-color: #333333!important;
}

.bg-white {
  background-color: #FFFFFF!important;
}

.bg-white-80 {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.92)!important;
}

/***********************************/
/*             Botones             */
/***********************************/

.btn {
  background-color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size:13px;
  width:146px;
  height:30px;
  border-style:solid;
  border-width:1px;
  outline-width: 0;
  margin-left: 8px;
}

.btn-red{
  border-color: #ea254a; 
}

.btn-red:hover{
  color: #ea254a;
}

.btn-red:active{
  background-color: #ea254a;
  color: #fff;
}

.btn-yellow{
  border-color: #f9ba63;
}

.btn-yellow:hover{
  color: #f9ba63;
}

.btn-yellow:active{
  background-color: #f9ba63;
  color: #fff;
}

.btn-blue{
  border-color: #498897;
}

.btn-blue:hover{
  color: #498897;
}

.btn-blue:active{
  background-color: #498897;
  color: #fff;
}

.bg-white .btn{
    
    float:right;
    margin-top: 0px !important;
    margin-right: 10px;
    
}

/***********************************/
/*              Header             */
/***********************************/
.header {
  height: 50px;
}

/***********************************/
/*            Contents             */
/***********************************/
.container {
  width: 100%;
}

.container-50 {
  width: 465px;
}

.container-400 {
  width: 400px;
}

.container-450 {
  width: 450px;
}

.container-600 {
  width: 600px;
}

.content-total {
  width: 100%;
}

.content-3 {
  width: 33%;
}

.content-center {
  margin: 50px auto 0;
  width: 1100px;
}
/***********************************/
/*              Titles             */
/***********************************/
.title-content {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
  height: 14px;
  overflow: hidden;
  padding: 8px 0;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  top: 0;
  line-height: .5;
}

.tab-content {
  padding: 10px;
}

.top-title-content {
  height: 50px;
  line-height: 3;
  padding-left: 10px;
}

.top-title {
  height: 50px;
}

/***********************************/
/*              Titles             */
/***********************************/
.text-6 { font-size: 6px!important; }

.text-8 { font-size: 8px!important; }

.text-10 { font-size: 10px!important; }

.text-12 { font-size: 12px!important; }

.text-14 { font-size: 14px!important; }

.text-16 { font-size: 16px!important; }

.text-18 { font-size: 18px!important; }

.text-20 { font-size: 20px!important; }

.text-22 { font-size: 22px!important; }

.text-24 { font-size: 24px!important; }

.text-26 { font-size: 26px!important; }

.text-28 { font-size: 28px!important; }

.text-30 { font-size: 30px!important; }

.text-32 { font-size: 32px!important; }

/***********************************/
/*              Titles             */
/***********************************/

.button-big {
  border: 0 none;
  margin: 10px 0 0;
  padding: 5px 25px;
}

.button {
  border: 0;
  padding: 2px 10px;
}

.button-form {
  border: 0 none;
  margin: 10px 10px 0;
  padding: 5px 25px;
  cursor: pointer;
}

/*Tabs*/

.active-tab {
  background-color: #f2f2f2!important;
}