.droparea {
text-align: center;
}
.multiple {
position:relative;
height: 20px;
}
.droparea div, .droparea input, .multiple div, .multiple input {
top:0;
width: 220px;
height: 345px;
}
.droparea input, .multiple input {
cursor: pointer; 
opacity: 0;
}
.droparea .instructions, .multiple .instructions {
border: 2px dashed #ddd;
opacity: .8;
}
.droparea .instructions.over, .multiple .instructions.over {
border: 2px dashed #000;
background: #ffa;
}
.droparea .progress, .multiple .progress {
bottom: 0;
width: 220px;
height: 345px;
color: #fff;
background: #6b0;
}
.multiple .progress {
width: 0;
height: 100%;
}


#areas { float: left; width: 480px; }
div.spot {
float: left;
width: 220px;
height: 345px;
min-height: 345px;
}
.thumb {
width: 220px;
height: 345px;
min-height: 105px;
}
.desc {
float:right;
width: 460px;
}
.signature a { color:#555; text-decoration:none; }
.signature img { margin-right:5px; vertical-align: middle; }
input[type=text], textarea {
margin-bottom: 10px;
padding: 5px;
width: 220px;
height: 345px;
border: 1px solid #bbb;
}
textarea {
height: 58px;
}
input[type=submit] {
float: right;
margin-right: 20px;
padding: 5px 25px;
color: #111;
border: 1px solid #666;
background: #888;
}
h3 { clear: both; padding:5px 0; }
#sampleform { width: 470px; }
