/*
Styles for HTML5 File Drag & Drop 
Eyden Barboza
*/
body
{
	font-family: "Segoe UI", Tahoma, Helvetica, freesans, sans-serif;
	font-size: 90%;
	margin: 10px;
	color: #333;
	background-color: #fff;
}

h1, h2
{
	font-size: 1.5em;
	font-weight: normal;
}

h2
{
	font-size: 1.3em;
}

legend
{
	font-weight: bold;
	color: #333;
}

#filedrag
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

img
{
	max-width: 100%;
}

pre
{
	width: 95%;
	height: 8em;
	font-family: monospace;
	font-size: 0.9em;
	padding: 1px 2px;
	margin: 0 0 1em auto;
	border: 1px inset #666;
	background-color: #eee;
	overflow: auto;
}

#progress {
	position: absolute;
	top: 37px;
	width: 202px;
}

#messages p
{
	background: #FFFFFF;
	border: 0;
    height: 200px;
    padding: 0;
    position: absolute;
    top: 47px;
    width: 202px !important;
}

#progress p
{
	background: #eee url("progress.png") 100% 0 repeat-y;
    border: 0 none;
    display: block;
    font-size: 6px;
    margin: 0;
    padding: 2px 4px;
    text-align: center;
    width: 192px;
}

#progress p.success
{
	background: #0c0 none 0 0 no-repeat;
}

#progress p.failed
{
	background: #c00 none 0 0 no-repeat;
}