/***********************************************************************************************************************************************************/
/****************************************************************** Generals *******************************************************************************/
/***********************************************************************************************************************************************************/

/***********************************/
/*           Header                */
/***********************************/

.header-content {
  height: 50px;
}

.header-container {
  margin: 0 auto;
  position: relative;
  width: 1280px;
}

.parche{
  line-height:0;
}

.bars-icon {
  border: 1px solid #498897;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  padding: 1px;
  position: relative;
  line-height:0;
}

#form-bars-header-select, .bars-header-select {
  cursor: pointer;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 1px;
  width: 32px;
}

.logo-header {
  height: 36px;
  margin: 6px 19px;
}

.header-content input[type="text"] {
  border: 0 none;
  font-size: 16px;
  font-style: italic;
  margin: 8px 0 0;
  padding: 7px;
  text-align: right;
  width: 300px;
}

.header-content ul {
  padding: 0;
  margin: 0;
}

.header-content ul.first li {
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  height: 50px;
  list-style: none;
  width: 50px;

}

.header-content ul.first li a {
  margin-top: 10px;
  position: relative;
}

.header-content ul.last {
  margin-right: 10px;
}

.header-content ul.last li {
  height: 50px;
  list-style: none;
}
/*CORRECCION DE BUG EL 14-FEB-14*/
.header-content ul.last li a {
  font-size: 13px;
  margin: 12px 0 0;
  padding: 4px 6px;
}

.header-content ul.last li a:hover {
  text-decoration: underline;
}

.header-content ul.last li:last-child a:hover {
  text-decoration: none;
}

.header-content ul.last li:last-child a {
  font-size: 27px;
  height: 28px;
  margin: 5px 0 0;
  width: 30px;
}

/*CORRECCION DE BUG 14-FE-14*/
.header-image {
  margin: 8px 0 0!important;
}

.header-image img {
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  height: 25px;
  width: 25px;
}

.responsive-header-menu {}

.responsive-header-mini-menu {
  display: none;
}

#menu-tool, #menu-group {
  position: relative;
}

.flecha-menu-tool {
  position: absolute;
  text-align: center;
  top: -18px;
  width: 200px;
}
.menu-tool-content {
  box-shadow: 0 -3px 6px 0 #F2F2F2;
  padding: 5px;
  position: absolute;
  top: 50px;
  width: 200px;
  z-index: 10;
}

.menu-tool-content.first {
  left: -80px;
}

.menu-tool-content.last {
  left: -177px;
}

.menu-tool-content ul { 
  margin: 0;
  padding: 0;
}

.menu-tool-content ul li {
  height: auto!important;
  margin: 0;
  padding: 0;
  text-align: left;
  border-bottom: 1px solid #f2f2f2;
  width: 200px!important;
}

.menu-tool-content ul li:last-child {
  border-bottom: 0 solid #f2f2f2;
}

.menu-tool-content ul li a {
  font-size: 13px !important;
  height: auto !important;
  margin-top: 0 !important;
  padding: 5px;
  width: auto !important;
}

.menu-tool-content ul li:hover, .menu-tool-content ul li a:hover, .menu-tool-container ul li a:hover {
  background-color: #498897!important;
  color: #FFFFFF!important;
}

.wishlist-register {
  height: 165px;
}

.wishlist-register textarea {
  background: none repeat scroll 0 0 #F2F2F2;
  border: 0 none;
  font-size: 13px;
  font-style: italic;
  font-weight: lighter;
  margin: 10px auto;
  padding: 0;
  resize: none;
  width: 310px;
}

.save-wishlist {
  margin: 10px 20px;
}

#search-results {
  margin: 50px 50px 0;
  width: 1100px;
}

#general-search-content {
  box-shadow: 0 3px 3px #333333;
  left: 230px;
  max-height: 400px;
  min-height: 50px;
  overflow: auto;
  padding: 5px;
  position: absolute;
  top: 39px;
  width: 342px;
  z-index: 10;
}


/* Report problems button */

.btn-issue {
border-radius: 50px;
cursor: pointer;
height: 40px;
width: 40px;
position: fixed;
bottom: 10px;
right: 10px;
z-index: 1001;
}

.btn-issue span {
  vertical-align: middle;
  font-size: 24px;
  color: #666;
  display: table-cell;
  height: 40px;
  width: 40px;
  z-index: inherit;
  font-weight: bold;
}

/* Page not found 404 */

.page-not-found {
  margin: 100px auto;
  width: 850px;
}

.page-not-found-content {
  height: 300px;
}

.error-num {
  border-right: 1px solid #CCCCCC;
  font-size: 120px;
  font-style: italic;
  font-weight: 100;
  margin: 50px 0;
  padding: 40px;
  vertical-align: middle;
}

.error-img {
  border-right: 1px solid #CCCCCC;
  margin: 50px 0;
  text-align: center; 
  padding: 8px 60px;
}

.error-message {
  color: #333333;
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  margin: 50px 0;
  padding: 44px;
}

.tecnical-error-message {
  color: #333333;
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  margin: 50px 0;
  padding: 68px;
}

#search-error-form {
  margin-top: 10px;
}

#search-error-form div {
  height: 36px;
  margin: 8px 0 0;
}

#search-error-form div input[type="text"] {
  border: 0 none;
  font-size: 22px;
  font-style: italic;
  padding: 4px;
  width: 364px;
}

#search-error-form input[type="submit"] {
  border: 0 none;
  font-size: 38px !important;
  height: 50px;
  padding-left: 15px;
  text-align: center;
  width: 50px;
}

/* Notifiations */

#notifications {
  position: relative;
}

.notifications-number {
  font-size: 10px;
  position: absolute;
  right: 7px;
  top: 1px;
  width: 18px;
}

.flecha-notifications {
  position: absolute;
  text-align: center;
  top: -18px;
  width: 300px;
}

.menu-notifications-content {
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 2px 4px #333333;
  left: -128px;
  position: absolute;
  top: 100%;
  width: 300px;
  z-index: 10;
}

.menu-categories-content {
  padding-left: 15px;
  margin-top: 45px;
  position: absolute;
  width: 300px;
  z-index: 11;
}

.menu-categorias{
  background-color: #FFFFFF!important;
  border-radius: .5px .5px .5px .5px;
  margin-top: 10px;
  margin-left: 10px;
  padding-top:13px;
  box-shadow: 0 2px 4px #333333;
  position: absolute;
  width: 280px;
  top: 40px;
  z-index: 10;
  font-size: 11px;
}
.notificatios-list {}

.notificatios-list li {
  list-style: none!important;
  width: 280px!important;
}

.notificatios-list li:hover {
  background-color: #f2f2f2;
}

.notificatios-list li a div {
  height: 50px;
  line-height: 2;
  overflow: hidden;
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 214px;
}

.notifications-active{
  color: inherit;
  text-decoration: none;
  background-color: #f2f2f2!important;
  color: red!important;
  o-transition: background-color .2s ease-out, opacity .2s ease-in;
  -ms-transition: background-color .2s ease-out, opacity .2s ease-in;
  -moz-transition: background-color .2s ease-out, opacity .2s ease-in;
  -webkit-transition: background-color .2s ease-out, opacity .2s ease-in;
  transition: background-color .2s ease-out, opacity .2s ease-in;
}

/* Notifications end */


.notifications-content {}

.notifications-content hr {
  border: 1px solid #60A797;
  margin: 8px 0 0 10px;
  width: 255px;
}

.notification-content {
  margin: 10px 0 0;
  o-transition: background-color .2s ease-out, opacity .2s ease-in;
  -ms-transition: background-color .2s ease-out, opacity .2s ease-in;
  -moz-transition: background-color .2s ease-out, opacity .2s ease-in;
  -webkit-transition: background-color .2s ease-out, opacity .2s ease-in;
  transition: background-color .2s ease-out, opacity .2s ease-in;
}

.notification-content:hover {
  background: #498897!important;
  color: #FFFFFF!important;
  cursor: pointer;
  o-transition: background-color .2s ease-out, opacity .2s ease-in;
  -ms-transition: background-color .2s ease-out, opacity .2s ease-in;
  -moz-transition: background-color .2s ease-out, opacity .2s ease-in;
  -webkit-transition: background-color .2s ease-out, opacity .2s ease-in;
  transition: background-color .2s ease-out, opacity .2s ease-in;
}

.notification-content .notification-image {
  background-size: cover;
  height: 50px;
  width: 50px;
}

.notification-content .notification-description {
  height: 42px;
  padding: 4px;
  position: relative;
  width: 280px;
}

.notification-content .notification-group-description {
  height: 42px;
  padding: 4px;
  position: relative;
}

.notification-description-responsibe {
  width: 265px!important; 
}

.notification-content .notification-group-description span {
  top: 4px;
  position: absolute;
  right: 4px;
}

.notification-content .notification-group-description span:last-child {
  top: 30px;
  position: absolute;
  right: 4px;
}

.notification-content .notification-description i {
  bottom: 4px;
  position: absolute;
  right: 4px;
}

/***********************************/
/*           Content               */
/***********************************/

#content {
  width: 100%;
}

/***********************************************************************************************************************************************************/
/****************************************************************** Modules ********************************************************************************/
/***********************************************************************************************************************************************************/

.step-bar {
  margin: 50px auto 10px;
  width: 1100px;
}

.step-bar ul {
  margin: 0 auto;
  padding: 0;
}

.step-bar ul li {
  list-style: none;
  display: inline-table;
  height: 50px;
  width: 50px;
  font-size: 26px;
  font-weight: bold;
  line-height: 2;
}

/***********************************/
/*            Registers            */
/***********************************/

.header-regiter-content {
  height: 50px;
}

/***** Steps bar *****/
.step-bar-regiter {
  float: left;
  margin: 0!important;
  width: 100%;
}

.step-bar-regiter ul {
  width: 160px;
}

.step-bar-regiter ul li.active {
  background-color: #f2f2f2;
  color: #498897!important;
}

/***** Content *****/
.regiter-info-content {
  background: #FFFFFF;
  margin: 20px auto;
  width: 650px;0;
}

.content-external-form {
  margin: 0 auto;
  width: 650px;
}

#regiter-upload-image {
  background: #FFFFFF;
  height: 256px;
  margin: 20px 0;
  padding: 10px;
  position: relative;
  width: 200px;
}

.image-preview {
  height: 202px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

#progress {
  height: 5px;
  position: absolute;
  top: 51px;
  width: 200px;
}

#progress p {
  height: 5px;
}

#messages {
  position: absolute;
  top: 56px;
  width: 200px;
}

#messages p {
  background: #FFFFFF;
  background-size: cover;
  background-position: center; 
  height: 200px;
}

#messages img { width: 100%; }

.regiter-info-content ul {
  margin: 0px;
  padding: 0px;
}

.regiter-info-content ul li {
  display: inline-table;  
  list-style: none;
}

.regiter-info-content ul li input[type="text"], .regiter-info-content ul li input[type="password"] {
  border: 1px solid #F2F2F2;
  font-style: italic;
  height: 23px;
  padding: 0 2px;
}

/***** Buttons *****/
.register-ctrols {
  margin-top: 100px;
  width: 100%;
}

.register-ctrols-content {
  background: #60A797;
  margin: 0 auto;
  height: 41px;
  width: 300px;
}

.register-ctrols-product {
  width: 150px;
}

.register-ctrols input[type="submit"], .register-ctrols button {
  background-color: #60a797;
  border: 0;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  opacity: 0.2;
  padding: 10px;
  font-size: 15px;
  width: 150px;
}

.register-ctrols input[type="submit"].active {
  cursor: pointer;
  opacity: 1;
}


/***** User register *****/
.register-container { position: relative; margin-right: 50px; }

.register-container h1 {
  font-size: 16px;
  font-weight: bold;
  margin: 50px 0 0;
  padding: 0;
}

.register-container p {
  color: #666666;
  font-size: 16px;
  font-weight: lighter;
  font-style: italic;
  margin: 0;
  padding: 0;
}
/*django error class*/
.errorlist {
  color:red;
  text-decoration: none;
  font-size: 13px !important;
  font-style: italic !important;
  font-weight: lighter !important;
}

.regiter-info-2-content ul li {
  padding: 10px;
  width: 305px;
}

/* When is 2 containers */
.regiter-info-2-content ul li label {
  width: 300px;
  float: right;
  font-size: 13px!important;
  font-weight: lighter!important;
  font-style: italic!important;
  padding: 5px 0 14px;
}

.regiter-info-2-content ul li input[type="text"], .regiter-info-2-content ul li input[type="password"] {
  border: 1px solid #f2f2f2;
  margin: 0 0 10px;
  width: 298px;
}

/* When is 3 containers */
.regiter-info-3-content ul li {
  margin-left: 1px;
  text-align: center;
  padding: 10px 0;
  width: 31%;
}

.regiter-info-3-content ul li:last-child {
  padding: 10px;
}

.regiter-info-3-content ul li fieldset {
  border: 0!important;
  padding: 0!important;
  margin: 0!important;
  width: 200px;
}

.image-preview #filedrag {
  background: url("../img/default-bg-product.jpg") repeat scroll 0 0 transparent;
  border: 0 none;
  color: transparent;
  cursor: pointer;
  height: 200px;
  margin: 23px 0 0;
  padding: 0;
  width: 200px;
}

.regiter-info-3-content ul li .image-preview, #messages {
  border: 0!important;
  padding: 0!important;
  margin: 0!important;
  width: 200;
}

.regiter-info-3-content ul li input[type="text"] {
  width: 198px;
  margin: 0 0 10px
}

.regiter-info-3-content ul li textarea {
  background: #f2f2f2;
  border: 0;
  font-style: italic;
  font-weight: lighter;
  font-size: 13px;
  height: 245px;
  resize: none;
  padding: 0;
  width: 200px;
}

/* Step 3 (Share and send mail) */
.regiter-info-4-content {
  background: none;
  width: 746px;
}

.regiter-info-4-content ul li{
  padding: 0;
}

.fb{
  background: #FFF;
  margin-right: 10px;
  width: 363px;
  height: 200px;
}

.fb div:first-child{
  height: 50px;
  background-color: #3B5998;
}

.fb p{
  padding: 12px !important;
}

.fb span{
  height: 50px;
  width: 150px;
  line-height: 3;
  font-size: 15px;
  margin-top: 62px;
  background-color: #3B5998;
}

.mail{
  background: #FFF;
  margin-left: 10px;
  width: 363px;
  height: 320px;
}

.mail div:first-child{
  height: 50px;
}

.mail p{
  padding: 12px !important;
}

.mail input[type="text"], .mail input[type="email"] {
  margin: 0 0 12px 12px!important;
  width: 333px!important;
}

.mail textarea{
  height: 88px;
  border: hidden;
  font-style: italic;
  resize: none;
  margin: 0 12px 12px 12px!important;
  width: 328px;
}

.mail input[type="submit"] {
  border: 0;
  height: 50px;
  width: 150px;
  line-height: 3;
  font-size: 15px;
  margin-top: -5px;
}



/***** Product regiter *****/
.step-bar-up-product ul {
  width: 105px;
}

.step-bar-up-product ul li.active {
  background-color: #f2f2f2;
  color: #60a797;
}

.regiter-info-content ul li select {
  background-color: #f2f2f2;
  border: 0;
  font-style: italic;
  height: 25px;
  padding: 0 2px;
  margin: 0 0 25px;
  width: 300px;
}

.regiter-info-content ul li select:last-child {
  margin-bottom: 10px;
}

.regiter-info-content p {
  font-size: 12px!important;
  font-weight: lighter!important;
  font-style: italic!important;
  padding: 0 0 12px;
}

.register-description {
  padding: 0 0 33px!important;
}

.regiter-info-content p img {
  line-height: center;
}

.regiter-info-content ul li p b {
  font-weight: bold;
}

.regiter-info-content .description-product {
  padding: 10px;
}

.regiter-info-content .description-product textarea {
  background: #f2f2f2;
  border: 0;
  font-style: italic;
  font-weight: lighter;
  font-size: 13px;
  height: 150px;
  resize: none;
  width: 625px;
}

.img-product-container {
  left: 106%;
  position: absolute;
  top: 125px !important;
  width: 308px !important;
}

.img-product-container p {
  background-size: cover !important;
  float: left;
  height: 56px !important;
  margin: 0 5px 0 0 !important;
  padding: 0!important;
  width: 56px;
}

.img-product-status {
  left: 106%;
  position: absolute;
  top: 186px !important;
  width: 308px !important;
}

.img-product-status p {
  background-color: #f2f2f2;
  float: left;
  height: 5px;
  margin: 0 5px 0 0;
  padding: 0;
  width: 56px;
}

#progress .success, #messages .success, .img-product-status p.success {
  background-color: #60a797!important;
}

#progress .failure, #messages .failure, .img-product-status p.failure {
  background-color: #ea254a!important;
}

#error-imge-upload {
  font-size: 12px;
  position: absolute;
  top: -20px;
}

/* product-content */

.product-content {
  margin: 50px auto;
  width: 1100px;
}

.img-galery {
  background: none no-repeat scroll center center / cover #333333;
  height: 250px;
  width: 600px;
}

.img-galery div {}

.img-galery div ul {
  margin: 0;
  padding: 0;
}

.img-count ul li {
  cursor: pointer;
  font-size: 23px;
  font-weight: bold;
  height: 50px;
  line-height: 2;
  list-style: none outside none;
  text-align: center;
  width: 50px;
}

.img-count ul li.active {
  background: transparent!important;
  color: #60a797;
}

.product-ctrl-owner {

}

.product-ctrl-owner div {
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.img-galery-info {
  margin-top: 90px;
}

.img-galery-info span {
  display: table-cell;
  font-size: 12px;
  height: 30px;
  vertical-align: middle;
  width: 142px;
}

.open-img-gallery {
  position: absolute;
  height: 250px;
  width: 450px;
  cursor:pointer;
}

.name-product-gallery h2 {
  font-size: 12px;
  font-weight: lighter;
}

.description-product-gallery p {
  background: #FFFFFF;
  border: 0;
  font-size: 12px;
  padding: 10px;
  margin: 10px 0 0;
  width: 580px;
}

.product-more-info {
  cursor: pointer;
  position: relative;
}

.product-more-info-content {
  box-shadow: 0px 1px 4px #333;
  position: absolute;
  top: 12px;
  min-height: 50px;
  width: 195px;
  margin: 5px 0 0;
  z-index: 10;
}

.product-chats-over {
  top: 30px;
}

.product-more-info-content div img {
  float: left;
  height: 50px;
}

.product-more-info-content div span {
  width: 132px;
  display: table-cell;
  height: 50px;
  vertical-align: middle;
  padding: 0 6px;
}

.ctrls-product {
  margin: 12px 0;
  width: 600px;
}

.ctrls-product div {
  cursor: pointer;
  height: 35px;
  line-height: 2;
  width: 200px;
}



.comment{
    overflow-x: hidden;
}



.comments-product{
  padding-top: 10px;
  width: 450px;
}

.comments-product hr {
  border: 1px solid #60A797;
  margin: 20px 10px;
}

.comments-product p{
  margin: 5px 0 5px 0;
}

.comments-product ul{
  list-style: none;
  padding-right: 12px;
  padding-left: 12px;
  max-height: 300px;
  overflow: auto;
  margin: 0 auto;
}

.comments-product li{
  margin-bottom: 12px;
  float: left;
}

.info-person{
  width: 100px;
  font-size: 13px;
  margin-left: 7px;
  margin-top:13px;
}

.images{
  font-size: 0;
}

.comment-name{
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.comment-date{
  color: #bfbfbf;
  display: inline-block;
  margin-top: -21px;
  font-size: 12px;
  position: relative;
  float: right;
  left: 200px;
}

.comment-text{
  font-size: 12px;
  height: auto;
  padding-bottom: 3px;
  width: 368px;
  margin-left:57px;
}

.answer{
  margin-top: 1px;
  min-height: 50px;
  margin-left: 50px;
}

.answer-text{
  width: 350px;
  font-size: 13px;
}

.add-comment{
  padding: 0 12px;
  margin: 18px 0 33px 0;
}

.input-add-comment{
  height: 40px!important;
  width: 364px!important;
  border: 0!important;
  font-style: italic!important;
  font-size: 12px!important;
  padding: 5px!important;
}

.add-comment p{
  margin: 0 0 0 50px;
  width: 374px;
  padding: 0;
  font-size: 12px;
}

.column-right{
  margin-left: 50px;
  width: 450px;
}

.private-message{
  width: 426px;
  padding: 12px;
}

.private-message input[type="text"] {
  height: 25px!important;
  width: 100%;
  border: 0!important;
  font-style: italic!important;
  font-size: 13px!important;
  margin-bottom: 12px!important;
}


.private-message input[type="submit"] {
  border: none;
  margin: 0;
}

.private-message textarea{
  width: 100%;
  height: 100px;
  border: hidden;
  font-style: italic;
  font-size: 13px;
  margin-bottom: 12px;
  resize: none;
}

.private-message span{
  width: 150px;
  height: 25px;
}

.profile-wishlists-content {
  padding: 10px;
}

.profile-wishlists-content div {
  margin: 0px 10px 0px 0;
}

.profile-wishlists-content div .profile-wishlists-image {
  background-size: cover;
  height: 100px;
  width: 100px;
}

.profile-wishlists-content div:last-child {
  margin-left: 0px;
}

.profile-wishlists-content div span {
  font-size: 12px;
  font-style: normal;
}

/***********************************/
/*          Mini Profile           */
/***********************************/

.tab:hover{
  background-color:#f2f2f2;
}

.tabs-info {
  font-size: 12px;
  height: 40px;
  padding: 10px 30px;
}

.tab-info-content {
  display:cell;
  
  padding-top:6px;
  padding-bottom:6px;
  
  margin-left: 8px;
  padding-left:15px;
  padding-right:15px;
  vertical-align: middle;
  cursor: pointer;
}

.mini-profile-user {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  width:450px;
  height:85px;
}

.mini-profile-user-content {
  position:relative;
  top:5px;
  height:75px;
  display:inline-block;
  text-align:left;
}

.mini-profile-picture {
  background-position:center; 
  background-size:cover;
  -moz-border-radius:52px;
  -webkit-border-radius:52px;
  border-radius:52px;
  height:75px;
  width:75px;
}

.mini-profile-data {
  max-width: 300px;
  padding-left: 22px;
}

.nombre{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
}

.ubicacion{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 13px;
}

.cambios{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 13px;
}

/***********************************/
/*          Send message           */
/***********************************/

#send-message-container {

}

#send-message-container h2 {
  padding: 20px 14px;
  margin: 0;
}

.send-message-info {
  padding: 18px 14px;
  border-top: 1px solid #CCC;
  position: relative;
}

.send-message-info span {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  padding: 0 10px;
}

.send-message-rank {
  position: absolute;
  right: 0;
  top: 28px;
}

.send-message-info img {
  float: left;
  width: 50px;
}

.send-message-content {
  padding: 0 14px 14px;
}

.send-message-content textarea {
  background: #f2f2f2;
  border: 0;
  font-style: italic;
  font-weight: lighter;
  font-size: 13px;
  height: 80px;
  resize: none;
  padding: 10px;
  width: 352px;
  margin-bottom: 12px;
}

.perfilamigo-container{
  margin: 50px auto 0;
  width: calc(100% - 18px);
}

.perfilamigo-container ul{
  margin: 0 auto;
  padding: 0;
}

.perfilamigo-container ul li{
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.profile-notifications{
  margin-left: 10px;
}

.profile-notifications ul{
  height: 50px;
}

.profile-notifications ul li{
  height: 50px;
  position: relative;
  width: 50px;
}

.profile-notifications ul li span{
  font-size: 24px;
}

.text-align-numbers{
  margin: 9px 0 0 9px;
}

.profile-amigo{
  /*margin-top: 50px;*/
  width: 450px;   
}
.profile-amigo ul{
  margin: 0 auto;
  padding: 0;
}

.profile-amigo ul li{
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.img-profile-container{
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #FFFFFF;
}

.info-profile-container{
  height: 50px;
}

.info-profile{
  width: 250px;
  height: 200px;
}

.info-area ul li{
  margin: 0 0 0 5px;
}

.submenu-profile{
  height: 50px;
  line-height: 3;
  width: 450px;
}

.submenu-profile button {
  margin-top: 10px;
}

.top-info-profile div span {
  height: 30px;
  vertical-align: middle;
  display: table-cell;
  width: 149px;
}

.top-info-profile .top-border-separate {
  border-right: 1px solid #CCC;
  border-left: 1px solid #CCC;
}

.submenu-profile ul li {

  cursor: pointer;
  display: inline-table;
  height: 50px;
  width: 167px;
}

.submenu-profile ul li.selected{
    cursor: default;
    opacity: .2;
}

.full-width{
  width: 100%;
}

.partial-width{
  width: 190px;
}

.profile-pestanas{
  margin: auto;
  margin-top: 50px;
  height: 37px;
  padding-top: 13px;
}

.pestanas div.tab {
  cursor: pointer;
  height: 30px;
  padding: 0 24px;
  margin-top: 10px;
}

.pestanas div.tab:first-child {
  margin-left: 10px;
}

.pestanas div.tab span {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}

.search-articulos {
  height: 50px;
}

.search-articulos div input[type="text"] {
  font-size: 18px;
  font-style: italic;
  height: 16px;
  margin: 12px 0 0 12px;
  padding: 2px 4px;
  text-align: left;
  width: 300px;
}

.search-articulos div input[type="submit"] {
  border: 0 none;
  font-size: 14px;
  font-weight: lighter;
  height: 26px;
  margin: 12px 0 0 12px;
  padding: 0 10px;
}

.search-articulos div select {
  color: #CCC;
  border: 0 none;
  font-size: 12px;
  font-style: italic;
  height: 24px;
  margin: 12px;
  width: 200px;
}

.search-articulos .button-link {
  margin: 10px;
}

.search-articulos a {
  height: 25px;
  padding: 0 20px;
}

.profile-products {
  margin: 10px auto;
  width: 100%;
}

.products-container div{
  width: 250px;   
}

.products-container{
  /* font-size: 0; */
    
}

.item-tab {
  width: 24.5%;
  margin: 2px;
}

/***************/
/*   hover efecto   */
/**************/

.foto {
    height: auto;
    overflow: hidden;
    background-color:#999;
}

.product-img{
    position:relative;
    top:0px;
    width:100%;
    height:auto;
    margin:0px;
    padding:0px;
    z-index:0;
}

.product-tab{
  width: auto;
  position:absolute;
  min-width: 100%;
  transition:all .1s ease;
  -moz-transition: all .1s ease;
  -webkit-transition: all .1s ease;
}

.product-tab:hover{
  height:calc(auto+5%);
  width:calc(auto+5%);
  z-index:1000; 
  border: 0px solid #333;
  box-shadow: 0 0 40px rgba(0,0,0,.6);
  transition:all .1s ease;
  -moz-transition: all .1s ease;
  -webkit-transition: all .1s ease;
}

/****FIN hover con efecto****/

.column{
  margin: 0 0 5px 0;
  position: relative;
}

.last-column{
  width: 250px;
}

.products-container div:first-child{
  height: 50px;   
}

.products-container div:nth-child(2){
  /*font-size: 0;*/
}

.products-container div span{
  margin: 2px 0 0 10px;
  display: inline-block;
}

.products-container div.close {
  cursor: pointer;
  width: 50px;
}

.products-container-hover {
  left: -5%;
  position: absolute;
  top: -5%;
  width: 110%;
  z-index: 2;
}

.products-container-hover img {
  box-shadow: 1px 1px 7px #333;
}

.product-ctrls {
  bottom: 0;
  position: absolute;
  right: 0;
}

.btn-over-offer {
  position: absolute;
  z-index: 3;
  bottom: 12px;
  right: 8px;
}

.btn-over-product {
  position: absolute;
  z-index: 3;
  bottom: 50px;
  right: 8px;
}

.products-container-hover .description {
  margin-bottom: 10px;
}

.products-container-hover hr {
  border: 1px solid #60A797;
}

/***********************************/
/*          Regiter group          */
/***********************************/
#register-group {}

#register-group ul {
  margin: 0;
}

#register-group ul li input[type="text"] {
  margin: 0 0 24px;
}

#register-group textarea {
  background: #f2f2f2;
  border: 0;
  font-style: italic;
  font-weight: lighter;
  font-size: 13px;
  height: 140px;
  resize: none;
  padding: 0;
  width: 305px;
}

#register-group ul li:last-child p {
  font-size: 12px !important;
  margin: 9px 0 0;
  padding: 0 !important;
}

#register-group ul li:last-child p:last-child {
  margin-top: 20px;
}

#register-group-type {

}

#register-group-type ul li ul {
  margin: 0;
  padding: 0;
}

#register-group-type ul li ul li {
  float: left;
  width: auto!important;
}

#register-group-type ul li .grou-type {
  margin: 50px auto;
  width: 240px;
}

#register-group-type ul li ul li label {
  float: left;
  margin: 0;
  padding: 0;
  width: 100px !important;
}

#register-group-type ul li:last-child p {
  margin: 14px 0 0;
  padding: 0 !important;
}

#register-group-type ul li ul li:first-child label {
  font-weight: bold!important;
}

.group-ctrols {
  width: 100%;
}

.group-ctrols input[type="submit"] {
  cursor: pointer;
  border: 0 none;
  font-size: 15px;
  margin: 0;
  padding: 10px;
  text-align: center;
  width: 260px!important;  
}

.register-ctrols-group {
  margin-top: 40px;
  width: 260px;
}

/*Group All*/

#search-group {}

#search-group .tab.active {
  background-color: #60a797!important;
  color: #FFFFFF;
}

.over-product-info {
  position: absolute;
  top: 0;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
  width: 100%;
}

/*Group profile*/
.group-container {
    margin: 50px 50px 0;
    width: 1100px00px;
}

.group-info-content {
  margin-right: 50px;
}

#menu-down {
  position: relative;
  height: 50px;
  cursor: pointer;
}

#menu-down:hover {
  background-color: #498897;
}

#menu-down .flecha-menu-down {
  height: 30px;
  left: 45%;
  position: absolute;
  top: -30px;
  width: 25px;
}

#menu-down .menu-down-container {
  box-shadow: 0 2px 4px #CCCCCC;
  position: absolute;
  right: -88px;
  top: 114%;
  width: 220px;
}

#menu-down .menu-down-container .content-menu-down {
  padding: 10px;
}

#menu-down .menu-down-container .content-menu-down ul {
  margin: 0;
  padding: 0;
}

#menu-down .menu-down-container .content-menu-down ul li {
  border-bottom: 1px solid #F2F2F2;
  font-size: 12px;
  line-height: 2;
  list-style: none outside none;
  padding: 0 5px;
}

.content-menu-down ul li a {
  display: block;
  width: 100%;
}

#menu-down .menu-down-container .content-menu-down ul li:hover, .content-menu-down ul li a:hover {
  background-color: #498897;
  color: #FFF!important;
}

#menu-down .menu-down-container .content-menu-down ul li:last-child {
  border-bottom: 0px solid #F2F2F2;
}

.group-info {
  padding: 10px;
}

.add-in-group-content {
  
}
.grop-articules-add {

}

#list-content ul {
  margin: 0;
  padding: 0;
}

#list-content ul li {
  border-bottom: 2px solid #60A797;
  list-style: none outside none;
  margin: 0;
  padding: 4px 0;
  width: 200px;
}

#list-content ul li:last-child {
  border-bottom: none;
}

#list-content ul li span, #list-content ul li input[type="checkbox"], #list-content ul li input[type="radio"] {
  line-height: 4;
  height: 50px;
  margin: 0 10px;
  padding: 0;
}

/* Chat group */
.chat-content {

}

.add-comment-chat {

}

.add-comment-chat input[type="text"] {
  border: 0 none;
  font-size: 12px;
  font-style: italic;
  height: 50px;
  padding: 0 2px;
  width: 388px;
}

.add-comment-info {
  font-size: 10px;
  font-weight: 400!important;
}

.add-comment-chat-input {
  border: 0 none;
  font-size: 14px;
  padding: 4px 10px;
}

.chat-content h2 {
  font-size: 16px;
}

.chat-comment-content {}

.chat-comment-content hr {
  border: 1px solid #60A797;
}

.chat-comment-content ul {
  margin: 0;
  padding: 0;
}

.chat-comment-content ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chat-message-content {
  height: 50px;
  padding: 0 2px;
  margin-bottom: 5px;
  width: 99%;
}

.message-info-content {
  margin-left: 10px;
  width: 340px;
}

.chat-message-content .username, .chat-message-content .message {
  font-size: 12px;
}

.chat-message-content .message {
  width: 300px;
}

.chat-message-content .date {
  font-size: 10px;
  color: #CCC;
}
/*Respons*/
.chat-response-content {
  margin-left: 50px;
}

.chat-response-content .chat-message-content {
  width: 340px;
}

.chat-response-content a {
  font-size: 10px;
}

/* Message */
.chat-comments-content {
  max-height: 290px;
}

#messages-container {
  margin: 50px auto 0;
  width: 1100px; 
}

.buzon-messages {
  padding: 10px;
}

.buzon-messages hr {
  float: right;
  width: 316px;
  margin-top: 9px;
}

.buzon-message-content {
  width: 100%;
}

.buzon-message-content .buzon-message {
  width: 390px;
}

.buzon-message-content .buzon-message div {
  line-height: 3;
  
}

.buzon-message-content .buzon-message div i {
  margin-left: 10px;
}

.buzon-message-content .buzon-message div a {
  padding: 0 10px;
}

.buzon-message-content .buzon-message div.clear {
  height: 0;
}

/* Home */
#home-container {
  margin: 50px auto 0;
  width: 1100px;  
}

.search-home input[type="text"] {
  font-size: 18px;
  font-style: italic;
  height: 25px;
  margin: 12px 0 0 12px;
  padding: 2px 4px;
  text-align: left;
  width: 300px;
}

.search-home select {
  border: 0;
  font-size: 16px;
  font-style: italic;
  height: 25px;
  margin: 12px 12px 0 12px;
  padding: 2px 4px;
  text-align: left;
  width: 300px;
}

.search-home input[type="submit"] {
  border: 0 none;
  font-size: 14px;
  font-weight: lighter;
  height: 26px;
  margin: 12px 0 0 12px;
  padding: 0 10px;
}

.over-friend-info {
  position: absolute;
  top: 0;
  width: 100%;
}

.delete-friend {
  cursor: pointer;
}

/* All offers */
#all-ofers-container {
  margin: 50px 50px 0;
  width: 1100px;
}

#all-ofers-container div.container-50:first-child {
  margin-right: 50px;
}

.product-preview {
  background-position: center center;
  background-size: cover;
  height: 180px;
}

/* Offers */

.upper-content{
    margin: 50px auto;
    width: 1100px;

}


#ofers-container {
  margin: 50px auto;
  width: calc(100% - 33px);
}

#ofers-container div.container-450:first-child {
  margin-right: 50px;
}

.chat-offer {
  padding: 10px;
}

.ctrl-offer {
  margin: 40px;
}

.ctrl-offer div.tab {
  padding: 0;
  width: 116px;
}


/* Notifications */

.notifications-content {
  margin: 4px 0;
}

.notifications-content span {
  display: table-cell;
  height: 50px;
  padding: 0 8px;
  vertical-align: middle;
}

/*Extras*/

.icon-menu img{
   
   margin-top:13px;
 }

.header-container {

position: fixed;
width: 100%;
z-index: 1002;
background-color: white;

}

/***********************************/
/*          Media Query            */
/***********************************/

@media (max-width: 640px) {}

@media (max-width: 800px) {}

@media (max-width: 1024px) {}

@media (max-width: 1280px) {}

/***********************************/
/*      Header Media Query         */
/***********************************/

@media (max-width: 1171px) {
  .responsive-header-menu-3 {
    display: none;
  }

  .responsive-header-mini-menu-3 {
    display: block;
  }
}

@media (max-width: 1030px) {
  .responsive-header-menu-2 {
    display: none;
  }

  .responsive-header-mini-menu-2 {
    display: block;
  }
}

@media (max-width: 963px) {
  .responsive-header-menu-1 {
    display: none;
  }

  .responsive-header-mini-menu-1 {
    display: block;
  }
}

@media (max-width: 878px) {
  .responsive-header-menu-4 {
    display: none;
  }

  .responsive-header-mini-menu-4 {
    display: block;
  }

  .responsive-header-mini-menu-4 a img {
    border-radius: 16px 16px 16px 16px;
    height: 25px;
    width: 25px;
  }

  .responsive-header-mini-menu-4 a i {
    display: inline-table;
    height: 25px;
    line-height: 2;
    padding: 0 6px;
    text-transform: capitalize;
  }
}

@media (max-width: 835px) {
  .header-content {
    height: 100px;
  }
  .responsive-header-menu-1, .responsive-header-menu-2, .responsive-header-menu-3, .responsive-header-menu-4 {
    display: block;
  }

  .responsive-header-mini-menu-1, .responsive-header-mini-menu-2, .responsive-header-mini-menu-3, .responsive-header-mini-menu-4 {
    display: none;
  }

  .header-content ul.first {
    clear: both!important;
  }
}

@media (max-width: 590px) {
  .header-content input[type="text"] {
    float: right !important;
    width: 200px;
  }

  .header-content input[type="submit"] {
    float: right !important;
  }
}

@media (max-width: 580px) {
  .responsive-header-menu-1 {
    display: none;
  }

  .responsive-header-mini-menu-1 {
    display: block;
  }
}

@media (max-width: 490px) {
  .header-content input[type="text"] {
    clear: both;
    float: left !important;
    margin-left: 50px;
    width: 320px !important;
  }

  .header-content input[type="submit"] {
    float: left !important;
  }

  .responsive-header-menu-2 {
    display: none;
  }

  .responsive-header-mini-menu-2 {
    display: block;
  }
}

.center-buton{
  float: right;
  margin-right: 10px;
  margin-top: 12.5px !important;
  background-color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size:13px;
  width:146px;
  height:30px;
  border-style:solid;
  border-width:1px;
  outline-width: 0;
  margin-left: 8px;
}

