<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="utf-8" />

                <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
                Remove this if you use the .htaccess -->
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

                <title>500</title>
                <meta name="description" content="" />
                <meta name="author" content="Joselo" />

                <meta name="viewport" content="width=device-width; initial-scale=1.0" />

                <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
                <link rel="shortcut icon" href="/favicon.ico" />
                <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

                <link rel="stylesheet" type="text/css" href="/static/css/basic.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />
        </head>

        <body class="bg-gray">
                <div class="page-not-found">
                        <img src="/static/img/logo404.svg" width="210px">
                        <div class="page-not-found-content bg-white">
                                <div class="error-img left">
                                        <img src="/static/img/error.png" width="180px">
                                </div>
                                <div class="tecnical-error-message left">
                                        Lo sentimos, tenemos<br />
                                        problemas tecnicos
                                </div>
                                <div class="clear"></div>
                        </div>
                        
                </div>
        </body>
</html>
