<div id="header" class="bg-white header-content">
  <div class="header-container">
    <div class="bars-icon left parche">
      <img class="cat-list-icon" src="{{ STATIC_URL }}img/barritas.svg">
    </div>
    <div id="menu-categories-content" class="menu-categories-content hide"style="top:-11px; position:absolute;">
        <img class="cat-list-icon" src="{{ STATIC_URL }}img/flechita.png" >
    </div>
    <!--Lista por categorias-->
    <div class="menu-categorias bg-white hide" style=" position:abosolute;">
      <ul class="categories-list" style="list-style-type: none; position:relative;"></ul>
    </div>
    <!-- Fin listas por categorias-->
    <a href="/account/home/" class="logo-header left"><img src="{{STATIC_URL}}img/logo.svg" class="left"></a>
    <form id="general-search-form" method="POST" action="/account/search_result/">
      {% csrf_token %}
      <input type="text" placeholder="¿Que buscas? " class="left bg-gray" id="general-search" name="item">
      <input type="submit" class="icon-input black bg-gray left" value="v">
    </form>
    <div id="general-search-content" class="bg-white hide">
      <div class="text-center blanck">
        Buscando...
      </div>
    </div>

    <ul class="left first">
      <li class="left text-center">
        <a id="get-friends" class="block friends" title="Amigos"><img src="{{ STATIC_URL }}img/amigos.svg"></a>
      </li>
      <li class="left text-center">
        <a href="/chat/" title="Mensajes" class="block"><img src="{{ STATIC_URL }}img/mensajes.svg"></a>
      </li>
      <li id="notifications" class="left text-center">
        <a href="{{ request.user.id }}" id="get-notifications" class="block"><div id="not-number"></div><img src="{{ STATIC_URL }}img/notificaciones0.svg"></a>
        <!-- Notifications -->
        <div id="menu-notifications-content" class="menu-notifications-content text-12 bg-white hide">
          <div class="flecha-notifications"><img src="{{STATIC_URL}}img/flechita.png"/></div>
          <div class="menu-notifications-container">
            <div class="show-notif tab-content bold text-left bg-gray text-10 black">Notificaciones</div>
            <ul class="notificatios-list">
              <li class="text-center black text-center">Cargando...</li>
            </ul>
            <div id="view-more-notifications" class="tab-content bold bg-gray text-10 hide"><a href="/account/home/#news" class="black">Ver mas</a></div>
          </div>
        </div>

      </li>
    </ul>
    
    <ul class="right last">
      <li class="left text-center responsive-header-menu-1"><a id="wishlists" href="/account/wishlist/" class="green block text-underline">MIS DESEOS</a></li>
      <li class="left text-center responsive-header-menu-2"><a href="/account/profile/#profile-offers" id="offers" class="green block">OFERTAS</a></li>
      <li class="left text-center responsive-header-menu-3"><a href="/product/upload/" class="white bg-yellow block">SUBIR UN PRODUCTO</a></li>
      <li class="left text-center responsive-header-menu-4"><a href="/account/profile/" class="header-image block"><img src="{{ request.user.picture }}"></a></li>
      <li class="left text-center" id="menu-tool">
        <a href="javascript:void(0)" class="green icon-menu block">e</a>

        <!-- Menu -->
        <div id="menu-tool-content" class="menu-tool-content last text-12 bg-white hide">
          <div class="flecha-menu-tool text-right"><img src="{{STATIC_URL}}img/flechita.png"/></div>
          <div class="menu-tool-container">
            <ul>
              <!-- Responsive -->
              <li class="responsive-header-mini-menu responsive-header-mini-menu-4">
                <a href="/account/profile/" class="green block">
                  <img src="{{ request.user.picture }}" class="left"> <i>{{ request.user.username }}</i>
                </a>
              </li>
              <li class="responsive-header-mini-menu responsive-header-mini-menu-1"><a href="/account/wishlist/" id="wishlists" class="green block"><i>Mis deseos</i></a></li>
              <li id="offers" class="responsive-header-mini-menu responsive-header-mini-menu-2"><a class="green block"><i>Ofertas</i></a></li>
              <li class="responsive-header-mini-menu responsive-header-mini-menu-3"><a href="/product/upload/" class="green block"><i>Subir producto</i></a></li>
              <!-- End responsive -->
              <li><a href="/account/register/" class="black block"><i>Editar perfil</i></a></li>
              <li><a href="/account/logout/" class="black block"><i>Salir</i></a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
</div>

<div id="issues" class="btn-issue bg-white-80 black text-center"><span>?</span></div>