<!DOCTYPE html>
<html ng-app="kamviaApp">
	<head>
		<meta charset="utf-8" />
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>login</title>
		<meta name="description" content="" />
		<meta name="author" content="Joselo" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<!-- Font Family -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:bolditalic,300italic,400,300,bold'>

		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/basic.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />
	</head>
	<body class="bg-gray">
		<div id="content" class="bg-gray left">
			<div class="template-content">
			<!-- Template content -->
				<div class="register-container">
        <!--  Register-container  -->
					<h1 class="text-center">Login</h1>

					<div class="content-external-form">
						<form action="/account/login/" method="POST">{% csrf_token %}
							<div class="regiter-info-content regiter-info-2-content">
								<ul>
									<li class="left">
										{% for field in form %}
											{{ field }}
										{% endfor %}
									</li>
									<li class="left">
										<p class="register-description">Inserta el usuario con el que te registraste.</p>
										<p class="register-description">Inserta la contraseña que asignaste.</p>
										{% if error %}
											<p style="color: red;">Datos incorrectos</p>
										{% endif %}	
									</li>
								</ul>				
								<div class="clear"></div>
							</div>
							<div class="facebook-login" style="background:#3B5998; width:153px; height:24px; padding:4px;" >
								<a style="color:#FFFFFF; font-weight:bold;" href="/auth/login">Login vía facebook</a>
							</div>
							<!-- Submit ctrls -->
					    <div class="text-center">
					      <input type="submit" class="button bg-green text-18 white active" value="Inicia Sesíon"/>
					    </div>
					  </form>

						<div class="clear"></div>
					</div>
				<!-- End Register-container  -->
				</div>
			<!-- End Template content -->
			</div>

			<footer>
			</footer>
		</div>
	</body>
</html>
