<html>
<head>
	<title></title>
</head>
<body>
	<div style="width: 614px!important; margin: 0!important; font-family:Open Sans, Helvetica, Arial, sans serif!important;">
		<div style="background: rgb(242, 242, 242)!important; padding: 15px 0 7px 30px;">
			<img src="http://kamvia.mx/static/img/logo.png" width="200px">
		</div>
		<h1 style="font-size: 22px!important; margin: 24.8px 0px 12.5px 30px!important;">
			Recupera tu contraseña
		</h1>
		<hr style="border: 6px solid rgb(73, 136, 151)!important; margin: 0px!important; color: rgb(73, 136, 151)!important; background: rgb(73, 136, 151)!important;">
		<p style="font-size: 14px!important; font-weight: lighter!important; margin: 0px!important; padding: 26px 30px 20px!important;text-align: justify;">
			<b>{{user}}<b> Se ha solicitado recuperar tu contraseña desde el sitio de Kamvia, si crees que es un error haz caso omiso a este mensaje, para recuperar tu contraseña haz click en el siguiente link.<br><br>
			<h3>http://kamvia.mx/account/recupera_contra/{{reset_password_key}}</h3>
			<br ><br >
			Pero antes, dos cosas:
		</p>
		<div style="background: rgb(242, 242, 242)!important; padding: 25px 30px 35px;">
			<div style="float: left;">
				<img src="https://kamvia.com/static/img/step-1.jpg">
			</div>
			<div style="float: left; width: 520px;font-size: 14px;text-align: justify;padding-top: 10px; margin-bottom:10px;">
				Recuerda que esta es la <strong>vers&iacute;on beta,</strong> por lo que existe la posibilidad de que encuentres alg&uacute;n error o
				que las cosas no est&eacute;n donde deben estar. Como pionero de esta plataforma te pedimos que mandes cualquier error o sugerenc&iacute;a que tengas a este <strong>enlace</strong>. Formemos esta gran comunidad para el beneficio de todos. Celebremos el cambio!
			</div>
			<div style="float: left;">
				<img src="https://kamvia.com/static/img/step-2.jpg">
			</div>
			<div style="float: left; width: 518px;font-size: 14px;text-align: justify;padding-top: 10px;">
				La comunidad Kamvia depende de todos nosotros. Entre mas amigos invites, mejor sera la expericia de Kamvia. Te invitamos a que corras la voz con todos tus amigos y conocidos para que nuestra comunidad crezca mas cada d&iacute;a y la cantidad de productos sea mayor para todos.<br />
				<strong>&#33;No olvides que puedes invitar a tus amigos por correo o por Facebook!</strong>
			</div>
			<div style="clear:both;"></div>
		</div>
		<p style="margin: 33px 30px 48px!important; font-weight: lighter!important; font-size: 13px!important;">
			De nuevo te agradecemos much&iacute;simo por apoyarnos, disfruta lo que hemos creado para ti.<br />
			&#33;Ahora, a <i>cambiar</i>!
		</p>
		<div style="text-align: center!important; margin: 0 auto 39px!important;">
			<img src="http://kamvia.mx/static/img/logo.svg" width="300px">
		</div>
		<br /><br /><br />
	</div>
</body>
</html>