<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="utf-8" />

                <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
                Remove this if you use the .htaccess -->
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

                <title>404 NOT FOUND</title>
                <meta name="description" content="" />
                <meta name="author" content="Joselo" />

                <meta name="viewport" content="width=device-width; initial-scale=1.0" />

                <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
                <link rel="shortcut icon" href="/favicon.ico" />
                <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

                <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/basic.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />

    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="/static/js/script.js"></script>
        </head>

        <body class="bg-gray">
                <div class="page-not-found">
                        <img src="/static/img/logo404.svg" width="210px">
                        <div class="page-not-found-content bg-white">
                                <div class="error-num left">404</div>
                                <div class="error-message left">
                                        Lo sentimos, no encontramos<br />
                                        la pagina que buscas
                                        <form id="search-error-form">
                                                <div class="left">
                                                        <input type="text" name="search" id="search" class="bg-gray" placeholder="¿Que buscas?">
                                                </div>
                                                <input type="submit" class="icon bg-blue gray text-20 left" value="v">
                                        </form>
                                </div>
                                <div class="clear"></div>
                        </div>
                        
                </div>
                <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44188722-1', 'kamvia.mx');
  ga('send', 'pageview');

</script>
        </body>
</html>