<!DOCTYPE HTML>
<html>
<body>
<head>
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:bolditalic,300italic,400,300,bold'>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/basic.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.fancybox.css?v=2.1.5" media="screen" />

	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.js?v=2.1.5"></script>
	<script type="text/javascript">
		$(function(){

			getWishes();

			$("#wishlist").submit(function() {
				var $this = $(this);
				$("#message").replaceWith('<span id="message"></span>').fadeOut("slow");
				$.ajax({
					url: $this.attr('action'),
					type: $this.attr('method'),
					data: $this.serialize()
				}).done(function(data) {
					$("#message").replaceWith('<span id="message" style="color:green;">Lista actualizada</span>').fadeIn("slow");
					$("#wishes").val(getWishes());
				});

				this.reset();
				
				return false;
			});
		});

		function getWishes(){
			$.ajax({
				url: '/account/get_wishlist/',
				type: 'POST',
				data: {user_id:'{{request.user.id}}'}
			}).done(function(data) {
				if(data!="False")
					$("#wishes").val(data);
			});
		}
	</script>
</head>
	<body>
		<form id="wishlist" action="/account/add_wish/" method="POST">
			<div class="wishlist-register text-center text-14 bold">
		        Escribe el nombre de las cosas que quieres separadas por # (Hashtag).
		        <br>
		        <textarea id="wishes" rows="2" cols="40" palceholder="#Discos #Ropa #Pesas" name="wishes"></textarea>
		        <span id="message"><br>
		        Puedes escribir hasta 6.</span>
				<input type="submit" value="Listo" class="save-wishlist right active button-big bg-yellow white">
			</div>
		</form>
	</body>
</html